@charset "utf-8";

@use '../mixins.scss';

/* Back to top */
.plurk #backtotop {
	position: relative;
	color: var(--black);
	font-size: 2rem;
	text-align: center;
	margin: calc(var(--pady) * 2) auto var(--pady);
	cursor: pointer;
	transition: color .125s ease-in-out;

	&,
	&::before {
		--size: calc(1/5 * var(--box));

		width: var(--size);
		height: var(--size);
		line-height: var(--size);

		@media (min-width: mixins.$screen-small) {
			--size: calc(1/4 * var(--box));
		}
	}

	&::before {
		position: absolute;
		content: "";
		display: block;
		z-index: -1;
		border: 1px dashed var(--black-75);
		border-radius: 100%;
		transition: background-color .125s ease-in-out;
	}

	&:hover {
		color: var(--white);

		&:before {
			background-color: var(--black);
		}
	}
}