@charset "utf-8";

/* Credits style */
#credits {
	display: none;
	opacity: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: initial;
	bottom: 0;
	justify-content: flex-end;

	p {
		font-size: .9rem;
		margin: var(--pads) 0;
		line-height: 150%;
	}

	a {
		text-decoration: none;
		color: var(--black);
		columns: inherit;
		transition: color .125s ease-in-out, background-color .125s ease-in-out;

		&:hover {
			color: var(--red);
		}
	}

	img {
		width: auto;
		height: 48px;
	}

	.text {
		padding: 0 2rem;
		max-width: 20rem;
	}

	.made {
		font-size: 2rem;
		font-weight: 700;
	}

	.like {
		font-size: 1rem;
		line-height: 150%;
		color: var(--black-75);
	}

	.noaffiliation {
		font-size: .7rem;
		line-height: 150%;
		letter-spacing: .025rem;
		color: var(--black-75);

		a {
			border-bottom: 1px dashed var(--black-75);
		}
	}

	.likeandsupport {
		display: flex;
		gap: var(--pads);
		justify-content: space-between;
		flex-direction: row;
		margin: var(--padm) 0 var(--padm);
		padding-bottom: var(--padm);
		border-bottom: 1px dotted var(--black-50);

		a,
		i {
			font-style: initial;
		}

		a {
			display: flex;
			gap: var(--padm);
			flex-flow: row;
			align-items: center;
			justify-content: flex-start;
			flex-flow: column;
			padding: var(--padm);
			background-color: var(--black-15);
			border-radius: var(--padm);
			transition: background-color .125s ease-in-out;

			&:hover {
				color: var(--black);
				background-color: var(--black-50);
			}

			i {
				display: block;
				text-align: center;
				font-size: .75rem;
				line-height: 130%;
			}
		}
	}
}