@charset "utf-8";

@use '../mixins';

/* Plurk - Footer */
.footer {
	position: fixed;
	z-index: 666;
	top: initial;
	left: var(--padx);
	right: var(--padx);
	bottom: var(--pady);
	display: flex;
	gap: 1rem;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 1.5rem;
}

#progress {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	flex: none;

	&,
	span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.5rem;
		height: 1.5rem;
		font-size: .5rem;
		font-weight: 800;
	}

	svg {
		--progress: 0;

		position: absolute;
		left: 0;
		top: 0px;
		width: 100%;
		height: 100%;
		stroke-width: .15rem;
		stroke: var(--white);
		fill: none;
		stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
		stroke-dasharray: 125.6;
		transform: rotate(-90deg);
	}

}

#pagination {
	z-index: 1;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	padding: 0 2rem;
	width: auto;
	flex: 1;
	pointer-events: none;

	.pages {
		transform: none;
		pointer-events: all;

		.swiper-pagination-bullet.swiper-pagination-bullet-active-main {
			background: var(--dark-white);
			cursor: pointer;

			&.swiper-pagination-bullet-active {
				background: var(--yellow);
			}
		}
	}
}

#menu {
	--size: 1.5rem;

	position: absolute;
	z-index: 2;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 0 0 0 auto;
	padding: 0;
	overflow: hidden;
	min-width: var(--size);
	min-height: var(--size);
	cursor: pointer;
	border-radius: 1rem;
	transition: all .25s ease;
	box-shadow: 0 .25rem 2rem var(--black-50);

	hr {
		margin: 0;
		padding: 0;
		height: 0;
		opacity: .15;
		border: none;
		border-bottom: 1px solid var(--black);
	}

	>label {
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: all;

		&,
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
		}
	}

	.label {
		position: absolute;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: var(--size);
		height: var(--size);
		padding: .15rem;
		pointer-events: none;
		transition: all .25s ease;

		svg {
			stroke: var(--white);
			transform: all .25s ease;
		}
	}

	.submenu {
		display: block;
		flex-direction: column;
		padding: 0;
		width: 0;
		height: 0;
		opacity: 0;
		filter: blur(1rem);
		pointer-events: none;
		transition: all .25s ease;
		overflow: clip;

		>div,
		>label {
			white-space: nowrap;
			cursor: pointer;
		}
	}

	.handle {
		position: absolute;
		top: initial;
		bottom: 0;
		left: initial;
		right: 0;
		display: block;
		margin: 0 !important;
		width: var(--size);
		height: var(--size);
		opacity: 1;
		border-radius: 1rem;
		cursor: pointer;
		pointer-events: all;
		appearance: none;
		-webkit-appearance: none;
		transition: all .25s ease;

		&:checked {
			opacity: 0;

			+.submenu {
				position: relative;
				z-index: 2;
				display: flex;
				justify-content: space-evenly;
				padding: .5rem 1rem;
				width: 8rem;
				height: 8rem;
				opacity: 1;
				color: var(--white);
				background-color: var(--black);
				filter: none;

				+label {
					position: fixed;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: 1;

					+.label {
						opacity: 0;
						filter: blur(1rem);
					}
				}

				a,
				.about,
				.logout {
					font-size: .8rem;
					pointer-events: all;
					transition: color .125s ease;
					text-align: center;

					&.now {
						font-weight: 500;
						pointer-events: none;
					}

					&:hover {
						color: var(--yellow);
					}
				}
			}
		}
	}

	.years {
		display: flex;
		justify-content: space-between;
		gap: .5rem;

		>a {
			margin: 0;

			&.inactive {
				pointer-events: none;
				opacity: .25;
			}
		}
	}
}