@charset "utf-8";

@use '../mixins';

/* Plurk - Footer */
.plurk {

	/* Replurk footer */
	.footer {
		position: fixed;
		z-index: 666;
		top: initial;
		left: var(--padx);
		right: var(--padx);
		bottom: var(--pady);
		display: flex;
		align-items: center;

		div {
			margin-right: auto;
		}

		a {
			pointer-events: all;

			&.now {
				font-weight: 500;
				pointer-events: none;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		a,
		span {
			font-weight: 400;
			margin-right: var(--padm);
		}
	}

	#logout {
		height: auto;
		background-color: var(--black-15);
		color: var(--black);
		padding: .5rem 1rem;
		border-radius: 1rem;
		backdrop-filter: blur(2rem) saturate(1.2) brightness(1.2);
		box-shadow: 0 .25rem 2rem #0007, inset .05rem .05rem .05rem #fff4;
		pointer-events: auto;
		cursor: pointer;
		transition: background .25s ease;

		svg {
			width: 1.5rem;
			height: 1.5rem;
			margin-right: .25rem;

			rect {
				stroke: var(--black);
				transition: stroke .25s ease;
			}

			path {
				fill: var(--black);
				transition: fill .25s ease;
			}
		}

		&:hover {
			background-color: var(--black);
			color: var(--white);

			svg {
				rect {
					stroke: var(--white);
				}

				path {
					fill: var(--white);
				}
			}
		}
	}
}