@charset "utf-8";

@use '../mixins';

/* Plurk - Statistics - Costum Page Style */
.plurk #hello {
	z-index: 4;
	padding: 0;
	pointer-events: none;
	background: none;

	.animate {
		width: auto;
		height: 90vh;
		aspect-ratio: 9/16;
		padding: 3rem;
		pointer-events: auto;
		transition: background .5s ease;
		border-radius: 2.5rem;
		backdrop-filter: blur(2rem) saturate(1.2) brightness(1.2);
		box-shadow: 0 .25rem 2rem #0007, inset .05rem .05rem .05rem #fff4;
	}

	.thumbs {
		margin: 3rem 0 0;
	}

	img {
		border-radius: 100%;
		width: 12rem;
		height: 12rem;
	}

	h1 {
		font-weight: 700;
		margin-bottom: 0;
		line-height: 100%;
		margin: 3rem 0 .5rem;
		font-size: 3rem;
	}

	p {
		font-weight: 500;
		line-height: 130%;
		font-size: 1.125rem;

		&.next {
			margin: 2rem auto 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2.5rem;
			height: 2.5rem;
			font-size: 2rem;
			border-radius: 100%;
			box-shadow: 0 .25rem 2rem #0007, inset .05rem .05rem .05rem #fff4;
		}
	}
}