@charset "utf-8";

@use '../mixins';
@use '../common';
@use '../support';
@use '../variables';

@use 'credits';
@use 'permission';
@use 'hello';
@use 'footer';
@use 'backtotop';
@use 'order';

:root {
	--pic-w: 4rem;
	--pic-h: 6rem;
	--pic-m: 5rem;

	--padx: 1rem;
	--pady: 1rem;

	--pads: .5rem;
	--padm: 1rem;
	--padl: 2rem;
	--padxl: 3rem;
	--padxxl: 4rem;

	--box: 20rem;
}

body,
html {
	font-size: 2.5vmin;
	background-color: black !important;
}

// Plurk Statistics
* {
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	line-height: 140%;
}

sub,
sup {
	font-size: inherit;
	font-weight: 700;
	top: initial;
	bottom: initial;
	line-height: 100%;
}

img {
	border-radius: .25rem;
}

// Plurk - First section
.first {
	text-align: center;
	transition: background-color .5s ease;

	h1 {
		margin: var(--padl) 0 var(--padm) 0;
	}
}

.links {
	.icon {
		background-color: red;
	}
}

.grant {
	&.middle {
		position: relative;
		z-index: 3;
	}
}

#background {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-size: cover;
	transition: none;
	pointer-events: none;
}

// Plurk - Statistics
#statistics {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--padxl);
	flex-wrap: nowrap;
	z-index: 5;
	height: initial;
	padding: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: background-color .5s ease;
	overflow: initial;
}

// Start .statistics
.statistics {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;

	p,
	a,
	span,
	.content {
		color: var(--white);
	}

	p {

		.text {
			line-height: 165%;
		}
	}

	i {
		display: inline-block;
		padding: 2px 10px;
		margin: 2px 0;
		color: var(--black);
		font-size: inherit;
		font-style: normal;
		white-space: nowrap;
		background-color: var(--white);
		border-radius: 1000px;
		transition: background-color .5s ease;

		img {
			margin-top: -4px;
			height: 1rem;
			width: 1rem;
			border-radius: 0;
		}
	}

	img {
		display: inline-block;
		width: auto;
		height: 3rem;
	}

	// Chart user list
	// Chart hashtag list
	// Chain link link
	.chart a,
	.html a,
	.content a.link {
		padding: 0 var(--pads);
		margin: 0 calc(-1 * var(--pads));
		border-radius: var(--pads);
		transition: background-color .12s ease-in-out;
	}

	.chart a,
	.html a {
		padding: var(--pads);
	}

	.chart a:hover,
	.html a:hover,
	.content a.link:hover {
		background-color: var(--black-25);
	}

	.content {
		display: block;
		z-index: 2;
		opacity: 0;
		width: auto;
		height: 36rem;
		aspect-ratio: 9/16;
		padding: var(--padxl);
		background-color: var(--lime);
		border-radius: 1rem;
		overflow: hidden;
		transition: background-color .5s ease;
		box-shadow: inset .05rem .05rem .05rem #fff4;
		cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>📷</text></svg>") 16 16, pointer;

		&.wait {
			cursor: wait;
		}

		p,
		a,
		span {
			opacity: 1;
		}

		>p,
		>a,
		>div {
			position: relative;
			display: flex;
			flex-flow: column;
			justify-content: center;
			opacity: 1;
			height: 100%;
		}

		span small {
			margin-top: var(--pads);
			letter-spacing: .05rem;
			line-height: 135%;
			opacity: .75;
		}

		.big {
			font-weight: 800;
			line-height: 100%;
			display: block;
			margin-bottom: auto;
		}

		// Count number badge yellow
		.count {
			--size: 24px;

			padding: 0 var(--pads);
			min-width: var(--size);
			height: var(--size);
			line-height: var(--size);
			color: var(--black);
			background-color: var(--yellow);
			text-align: center;
			font-size: .7rem;
			font-weight: 600;
			border-radius: var(--size);
			transition: background-color .5s ease;
		}
	}

	.chart {
		flex: 1;
		margin: var(--padxl) 0 var(--padxxl);
	}

	.title {
		font-size: .8rem;
		line-height: 120%;

		strong {
			font-weight: 500;
			display: block;
			text-transform: initial;
			letter-spacing: .05rem;
			opacity: .75;
			padding: 2px 0 0;
		}
	}

	.graph {
		flex: 1;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		align-self: center;
		background-color: var(--white);
		margin-bottom: var(--padm);
		border-radius: 10000px;
		width: calc(var(--padxxl) * 2);
		overflow: hidden;
		transition: background-color .5s ease;

		i {
			margin: 0;
			padding: 0;
			background-color: var(--yellow);
			border-radius: 0;
			height: 100%;
			transition: background-color .5s ease;
		}
	}

	.link {
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		padding: 0;
		text-transform: uppercase;

		svg {
			fill: var(--white);
			transition: fill .5s ease;
		}
	}

	.plurkers {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex: 1;

		.name {
			margin-right: auto;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.avatar {
			margin-right: .5rem;

			img {
				height: 3rem;
				border-radius: .5rem;
			}
		}

		.count {
			margin-left: .5rem;
		}
	}

	.info {
		img {
			height: 1rem;
		}
	}

	.box {
		.plurkbox {
			div.meta {
				border-top: 1px dashed var(--white);
				display: flex;
				align-items: center;
				margin-top: var(--pads);
				padding-top: var(--padm);

				span {
					display: block;
					margin-right: var(--padl);
				}

				.link {
					position: relative;
					margin-left: auto;

					img {
						display: block;
					}
				}

				>span {
					display: flex;
					align-items: center;
					gap: 4px;

					img {
						display: block;
						width: 1rem;
						height: 1rem;
					}
				}
			}
		}
	}


	&.users {
		img {
			height: 64px;
			border-radius: 4px;
		}

		.title {
			display: inline;
			font-size: 1rem;
			text-transform: none;
			letter-spacing: .02em;
			text-align: left;
			margin-top: auto;

			img {
				display: inline-block;
				border-radius: 0;
				width: auto;
				height: 1rem;
			}
		}

		.html {
			display: flex;
			flex-direction: column;
			flex: 1;
			justify-content: space-evenly;
			margin-bottom: var(--padm);
		}
	}

	&.userlist {
		.html {
			a {
				display: flex;
				flex: 0;
				align-items: center;
			}
		}
	}

	&.replurkbadges {
		&.description {
			z-index: 2;
			background-color: var(--black-15);

			.body {
				padding: var(--padl);
				margin: 0 auto;
				max-width: 640px;
			}

			h4 {
				font-size: 1.2rem;
				font-weight: 600;
			}

			p,
			li {
				color: var(--black);
				font-size: .8rem;

				img {
					display: inline-block;
					width: 1rem;
				}
			}

			li {
				margin: 0 0 calc(var(--pads) / 2);
				margin-left: var(--padm);
			}

			ol,
			ul {
				padding: 0;
				margin: var(--pads) 0 0;
			}
		}
	}

	&-title,
	&-wrap {
		padding: 0;
		margin: 0;
	}

	&-title,
	&-loading i {
		display: flex;
	}

	&-title {
		display: none;
	}

	&-wrap {
		transition: background-color .5s ease;
		scroll-snap-align: center;
	}

	&-loading {

		&,
		.big {
			color: var(--white);
		}

		.big {
			font-size: 4.5rem;
		}

		i.month {
			display: table;
			margin-bottom: var(--pads);
		}

		i {
			text-transform: uppercase;
		}
	}

	// Numbers

	&,
	&.mediumnumber,
	&.largenumber {
		.big {
			font-size: 5rem;
			letter-spacing: -.25vw;
		}
	}

	&.mediumnumber {
		.big {
			font-size: 3.5rem;
		}
	}
}

// Spacer
#spacer {
	pointer-events: none;
}

// Gird
.grid {
	.html {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
		margin: auto calc(-1 * var(--padm));

		@media (min-width: mixins.$screen-verysmall) {
			& {
				margin: auto calc(-.75 * var(--padm));
			}
		}

		div {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0;
			margin: var(--padm);
		}

		img {
			flex: 0;
		}

		.count {
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(75%, -75%);
			color: var(--black);
		}
	}

	&.emoticons .html div:nth-child(10) {
		display: none;

		@media (min-width: mixins.$screen-small) {
			& {
				display: flex;
			}
		}
	}

	.content .title {
		text-transform: none;

		i {
			text-transform: uppercase;
		}
	}
}

// Plurk - Statistics - Spesific Style
.postcontent {
	.title {
		font-size: .6rem;
		display: flex;
		align-items: center;
		margin-top: var(--padm);
		line-height: initial;
	}

	.title i {
		margin-right: auto;
		text-transform: uppercase;
	}

	.emoticon_my {
		max-width: initial;
	}

	.post {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;

	}
}

.post {
	img {
		width: auto;
		height: initial;
		max-height: 3rem;
		margin-right: .25rem;

		&.emoticon {
			max-height: initial;
		}
	}

	a {
		pointer-events: none;
	}

	i {
		background-color: transparent;
		display: inline;
		font-style: italic;
		padding: 0;
		color: inherit;
	}

	.ex_link.meta {
		display: flex;
		align-items: center;
		border-radius: 0;

		&:hover {
			background: none;
		}
	}

	.ex_link.meta,
	.ex_link,
	.hashtag {
		color: var(--yellow) !important;
	}

	.ex_link,
	.hashtag {
		margin-right: .5rem;
		text-decoration: none;
	}
}

.chart {
	position: relative;

	a {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		margin: auto 0;
		white-space: nowrap;
		display: flex;
		flex-flow: row;
		transform: translate(0, -50%);
	}
}

// Center style
.statistics.center,
.statistics.badges {
	text-align: center;

	.big {
		display: block;
		margin: var(--padl) auto auto;
		text-align: center;
		line-height: 100%;
	}

	.text {
		text-align: center;

		strong {
			font-weight: 600;
		}
	}
}

// Badges
.statistics.badges {
	.big {
		padding: 0 var(--padm) calc(3/4 * var(--padxl));
		width: calc(1/2 * var(--box));
		height: calc(4/7 * var(--box));
		line-height: calc(4/7 * var(--box));
		color: var(--black);
		font-size: 5rem;
		letter-spacing: -.25rem;
		background-color: var(--yellow);
		border-radius: var(--padl) var(--padl) 100% 100%;
		transition: transform .5s ease-in-out;
		transform-style: preserve-3d;

		img {
			display: inline-block;
			width: 75%;
			aspect-ratio: 1;
		}
	}

	&:hover .big {
		transition: transform .75s ease-in-out;
		transform: rotateY(360deg);
	}


	&.badgesmall {
		p {
			justify-content: space-evenly;
		}

		.text {
			line-height: 100%;

			img {
				display: inline;
				max-width: 1.25rem;
				max-height: 1.25rem;
				margin-top: -.5rem;
			}
		}

		.content {
			padding: var(--padm);

			@media (min-width: mixins.$screen-abitwide) {
				padding: var(--padl);
			}
		}

		.big {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 0;
			margin: 0;
			padding: 0;
			width: 100%;
			height: initial;
			background-color: transparent;
			border-radius: 0;

			img {
				display: block;
				height: 8rem;
				filter: drop-shadow(rgba(0, 0, 0, .1) 4px 4px 16px);
			}
		}

		:hover .big {
			transform: none;
		}
	}

	&.nobackground {
		cursor: pointer;
		pointer-events: none;

		.text {
			font-size: .8rem;
			line-height: 130%;
			color: #3333;
		}

		.content {
			background-image: none !important;
			background-color: transparent !important;
			backdrop-filter: blur(2rem) saturate(1.2) brightness(1.2);
		}

		.big {
			img {
				width: 35%;
				filter: none;
			}
		}
	}
}

// Hashtag style
.statistics.hashtags {
	.html {
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: space-between;
		padding-bottom: var(--padm);

		>div {
			display: flex;
			flex-direction: row;
			margin: 0;
			border-bottom: 1px dashed var(--white);
		}

		>div:last-child {
			margin-bottom: auto;
			border-bottom: 0;
		}

		strong {
			display: none;
			text-align: center;
			margin: 0 auto auto;
			font-size: var(--padl);
			width: var(--padxl);
			height: var(--padxl);
			color: transparent;
			font-weight: 300;
			border-radius: 1000px;
			background-color: var(--white);
			transition: box-shadow .24s ease-out;

			@media (min-width: mixins.$screen-small) {
				width: var(--padl);
				height: var(--padl);
			}

			@media (min-width: mixins.$screen-abitwide) {
				width: var(--padxl);
				height: var(--padxl);
			}
		}

		a {
			flex: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			transition: background-color .24s ease-in-out, color .24s ease-in-out;

			&:hover+.count {
				background-color: var(--lime);
			}
		}

		.count {
			display: inline-block;
			background-color: var(--yellow);
			color: var(--black);
			padding: 0 var(--pads);
			border-radius: 10000px;
			font-size: .7rem;
			transition: color .2s ease-in-out, background-color .2s ease-in-out;
		}
	}

	.title i {
		text-transform: uppercase;
	}
}

// Bubble style
.statistics.bubble {
	.count {
		display: none;
	}

	.html {
		display: flex;
		gap: 1rem;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin: auto 0;
	}

	.html .plurkers {
		display: flex;
		flex-direction: column;
	}

	.plurkers {
		span {
			width: 100%;
			text-align: center;
		}

		.avatar {
			margin-right: 0;
			margin-bottom: var(--pads);

			img {
				width: 2rem;
				height: auto;
				border-radius: 100%;
			}
		}

		&:nth-child(1) .avatar img {
			width: 6rem
		}

		&:nth-child(2) .avatar img {
			width: 5rem
		}

		&:nth-child(3) .avatar img {
			width: 4rem
		}

		&:nth-child(4) .avatar img {
			width: 3rem
		}
	}

	.title {
		text-transform: none;
		font-size: 1rem;
	}
}

// Listing attach style
.statistics.attach {
	.title i {
		text-transform: uppercase;
	}
}

// Responsed style
.statistics.responded {
	.big {
		display: none;
	}

	.text {
		text-align: center;
		font-size: 1.5rem;
		line-height: 150%;
		letter-spacing: 0;
	}
}

// Posted style
.statistics.posted {
	.text {
		text-align: center;
	}

	.big {
		position: relative;
		z-index: 3;
		padding: 0 calc(3/4 * var(--padxl));
		min-width: calc(var(--box) * .5);
		height: calc(var(--box) * .4);
		line-height: calc(var(--box) * .4);
		font-size: 5rem;
		letter-spacing: -.25rem;
		color: var(--black);
		background-color: var(--yellow);
		border-radius: 10000px;
	}

	.big:before {
		position: absolute;
		content: "";
		bottom: 0;
		right: 0;
		border-left: 1rem solid transparent;
		border-right: 1rem solid transparent;
		border-top: 2rem solid var(--yellow);
		border-bottom: 2rem solid transparent;
		transform: translate(20%, 50%) rotate(-45deg);
	}
}

// Coins
.statistics.coins {
	.big {
		background-color: var(--yellow);
		color: var(--black);
		width: 12rem;
		height: 12rem;
		line-height: 12rem;
		border-radius: 100%;
	}
}

// MVP
.statistics.mvp {
	.html {
		.avatar {
			z-index: 1;
			position: relative;
			width: auto;
			margin: 0 auto var(--pads);

			img {
				margin-right: 0;
			}

			.medal {
				display: block;
				position: absolute;
				bottom: calc(-1 * var(--pads));
				right: calc(-1 * var(--pads));
				width: 1.5rem;
				height: 1.5rem;
				padding: 0;

				img {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}

		a:nth-child(1) .avatar .medal {
			width: 3rem;
			height: 3rem;
		}

		a:nth-child(2) .avatar .medal {
			width: 2.5rem;
			height: 2.5rem;
		}

		a:nth-child(3) .avatar .medal {
			width: 2rem;
			height: 2rem;
		}
	}
}

// Anniversary
.statistics.anniversary {
	.big {
		display: flex;
		flex-direction: column;
		width: calc(1/2 * var(--box));
		background-color: var(--yellow);
		overflow: hidden;
		border-radius: 1.5rem;
		box-shadow: 0 .125rem 1rem #0003, inset .05rem .05rem .05rem #fff4;

		strong {
			display: flex;
			flex-direction: row;
			padding: .5rem 1rem;
			font-size: 1.2rem;
			letter-spacing: .015rem;
			line-height: 100%;
			text-transform: uppercase;

			i {
				display: flex;
				padding: 0;
				font-weight: 600;
				background-color: transparent;
				margin: 0 0 0 auto;
				color: var(--black);

				&:first-child {
					margin-left: 0;
				}
			}
		}

		em {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 7rem;
			line-height: 115%;
			font-weight: 800;
			color: var(--black);
			background-color: var(--white);
			font-style: normal;
		}
	}
}

// Shared links
.statistics.previewlinks {
	a {
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}

// Shared pics
.statistics.previewpics {
	.content {
		overflow: hidden;
	}

	.html {
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: calc(-1 * var(--padxl));
	}

	.title {
		position: relative;
		z-index: 2;
		text-transform: uppercase;
		margin: 0 0 auto;
	}

	.box {
		position: relative;
		display: flex;
		flex-flow: column;
		width: 100%;
		height: 100%;

		.image {
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 100%;
			background-size: contain;

			&::before {
				position: absolute;
				content: "";
				display: block;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				backdrop-filter: saturate(1.2) blur(10px);
				mask: linear-gradient(black 10%, transparent 20%, transparent 50%, black 60%);
			}
		}

		.plurkbox {
			position: relative;
			z-index: 2;
			padding: calc(1.5 * var(--padl));
			margin-top: auto;
			line-height: 120%;
			background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5) 75%);
		}
	}

	.post {
		position: relative;

		a {
			color: inherit;
			padding: 0;
			margin: 0;
			border: none;
		}
	}
}

// Shared links
.statistics.sharedlinks {
	.text {
		height: 100%;
	}

	.title {
		font-size: .9rem;
	}

	.post {
		margin-top: var(--padl);
	}

	.plurkbox {
		margin-top: auto;
	}

	div.meta {
		padding-top: var(--pads);
		justify-content: space-between;
	}

	.meta .link,
	.meta span {
		font-size: .65rem;
		margin: 0;
	}

	img {
		margin-right: 4px;
	}
}

.middle {
	@include mixins.make-it-full-size;
	z-index: 2;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	&.colored {
		background-color: var(--dark-white);
	}

	svg {
		fill: var(--white);
	}

	&.clip {
		overflow: clip;
	}

	.shade {
		position: absolute;
		background-color: var(--black);
		visibility: hidden;
		opacity: 0;
		@include mixins.positions;
	}
}