RewriteEngine On
RewriteBase /dwaan/
DirectoryIndex /dwaan/index.php


# Redirect index to the root of www
RewriteRule ^(.*)index(.*)$ http://themilkyway.local:8080/dwaan/ [L,R=301]

# Unless directory, remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/$ http://themilkyway.local:8080/dwaan/$1 [R=301,L]

# Redirect external .php requests to extensionless URL
RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/
RewriteRule ^(.+)\.php$ http://themilkyway.local:8080/dwaan/$1 [R=301,L]

# Resolve .php file for extensionless PHP URLs
RewriteRule ^([^/.]+)$ $1.php [L]

# 404 and 500
ErrorDocument 404 http://themilkyway.local:8080/dwaan/404
ErrorDocument 500 http://themilkyway.local:8080/dwaan/404