@media screen and (min-width: 900px) {
	:root {
		--pic-w: 291px;
		--pic-h: 497px;
		--pic-m: 30px;
	}
}
@media screen and (min-width: 1600px) {
	:root {
		--pic-w: 436.5px;
		--pic-h: 745.5px;
		--pic-m: 40px;
	}
}


/* Defining the font size based on aspect ratio */
html {
	font-size: 16px;
}
@media screen and (min-width: 900px) {
	html {
		font-size: 18px;
	}
}
@media screen and (min-width: 1900px) {
	html {
		font-size: 20px;
	}
}


/* Default style */
p {
	line-height: 150%;
}

/* Header style */
header {
	left: var(--padx);
	right: var(--padx);
	top: var(--pady);
}
.size,
.lamp,
.menu {
	margin: 0 0 0 var(--padxl);
}


/* Common middle content */

.middle {
	padding: var(--pady) var(--padx);
}
.middle.auto {
	padding: calc(2 * var(--padxl)) var(--padx);
}

/* Homepage content */
.main-text {
	max-width: 800px;
}
@media (min-width: 1200px) {
	.main-text {
		max-width: initial;
	}
}
.main-text h1 {
	margin: 0 var(--padl);
	white-space: nowrap;
	text-align: center;
}
@media (max-width: 1200px) {
	.main-text h1 {
		white-space: normal;
	}
}


/* Homepage footer */
.footer {
	padding: var(--pady) var(--padx);
}


/* Homepage listing item */
.padding {
	padding: 0 60px;
}
.padding a,
.padding span {
	height: 120px;
}
@media (min-width: 900px) {
	.padding a,
	.padding span {
		height: initial;
	}
}


/* Homepage footer */
.footer .email {
	font-size: .8rem;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: var(--gray);
}


/* Arrow links */
.arrow-big,
.arrow {
	flex-flow: row nowrap;
	position: absolute;
	bottom: calc(var(--pady) - 10px);
	right: var(--padx);
	transform-origin: right top;
}
.arrow-big {
	position: fixed;
}
.arrow-big .arrow {
	bottom: 0;
	right: 0;
}
.arrow {
	transform: rotate(90deg);
}
.arrow:after {
	margin: 0 0 0 25px;
	width: 100px;
	height: 16px;
}
.arrow span {
	display: none;
}
.arrow-small {
	position: absolute;
	bottom: var(--pady);
	right: var(--padx);
}
.arrow-small .arrow {
	position: relative;
	left: 0;
	top: 0;
	bottom: initial;
	right: inherit;
	transform: none;
}
.arrow-small .arrow:after {
	width: 50px;
	height: 16px;
	margin-left: 25px;
}
@media screen and (min-width: 900px) {
	.arrow span {
		display: block;
	}
	.arrow-small .arrow:after {
		width: 100px;
	}
}


/* Year information */
.year {
	right: var(--padxxl);
	bottom: var(--pady);
}


/* Background flare */
.flares {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
.flares img {
	width: 100vw;
	height: 50vw;
}


/* Detail page common style */
.detail picture {
	box-shadow: -10px 30px 60px rgba(0, 0, 0, 0.25);
}
.dark .detail picture {
	box-shadow: none;
}
.detail picture,
.detail picture img {
	border-radius: 8px;
}
/* Style text on the left and image spread like fan */
.style-spread,
.style-spread-left {
	flex-direction: row;
	padding: 0 var(--padxl);
}
.style-spread .text,
.style-spread-left .text {
	width: 360px;
	flex: none;
}
@media (min-width: 900px) {
	.style-spread .text,
	.style-spread-left .text {
		width: 465px;
	}
}
.style-spread .thumbs {
	min-height: var(--pic-h);
	height: 100vh;
}
.style-spread picture {
	width: calc(9/10 * var(--pic-w));
	transform-origin: 0 0;
}
.style-spread picture,
.style-spread picture img {
	border-radius: 20px;
}
.style-spread picture.pic-4 {
	top: 25%;
	left: 50%;
	transform: rotate(-10deg);
}
.style-spread picture.pic-5 {
	top: 40%;
	left: 10%;
	transform: rotate(-30deg);
}
@media (min-width: 1194px) {
	.style-spread {
		padding: 0;
		justify-content: center;
	}
	.style-spread .thumbs {
		flex: none;
		width: 465px;
	}
}
/* Style text on the left and image spread like fan */
.style-spread-left {
	padding-bottom: calc(2 * var(--padxl))
}
.style-spread-left .text {
	flex: none;
	width: 380px;
	margin-left: 50px;
}
.style-spread-left .thumbs {
	display: flex;
	flex: 0;
	align-self: flex-start;
	margin-top: 100px;
}
.style-spread-left picture {
	width: 300px;
	transform-origin: 0;
	transform: rotate(-5deg);
}
@media (min-width: 900px) {
	.style-spread-left picture {
		width: 400px;
	}
}
@media (min-width: 1024px) {
	.style-spread-left picture {
		width: 528px;
	}
}
@media (min-width: 1194px) {
	.style-spread-left .text {
		margin-left: 100px;
	}
}
/* Style that look like table */
.style-flex {
	padding: var(--padxl) var(--padl);
}
/* Style text on top and Images in the bottom */
.style-top {
	padding: 120px 40px;
}
.style-top h2 {
	max-width: 468px;
}
.style-top .text {
	max-width: 732px;
	margin-bottom: var(--padxl);
}
.style-top picture {
	width: var(--pic-w);
	height: var(--pic-h);
	margin: 0 var(--pic-m);
}
.style-top picture:nth-child(2n) {
	margin-top: calc(var(--pic-m) * 3);
}
@media (min-height: 760px) {
	.style-top .text {
		margin-bottom: calc(2 * var(--padxl));
	}
}
/* Style text on top without image */
.style-top-text .text {
	width: 100%;
	flex-flow: row nowrap;
}
.style-top-text h2 {
	width: 380px;
	margin-right: 60px;
}
@media (min-width: 1000px) {
	.style-top-text .text {
		width: 910px;
	}
}
/* Style with mansonry like layout with text on the right */
.style-masonry .thumbs {
	flex-flow: row wrap;
	width: calc((var(--pic-w) * 4) + (var(--pic-m) * 10));
	padding: var(--pic-m);
	padding-bottom: calc(var(--pic-m) * 8);
}
@media (min-width: 900px) {
	.style-masonry .thumbs {
		padding-bottom: calc(var(--pic-m) * 4);
	}
}
.style-masonry .thumbs > *:nth-child(2n) {
	transform: translate3d(0, calc(var(--pic-m) * 3), 0);
}
.style-masonry picture,
.style-masonry .text {
	width: var(--pic-w);
	height: var(--pic-h);
	margin: var(--pic-m);
}
.style-masonry .text {
	padding: var(--pic-m);
}
/* Style that look like table */
.style-row {
	margin: calc(-1 * var(--padl)) 0;
}
.style-column {
	margin: var(--padl) 0;
}
.style-column .meta {
	width: 230px;
	margin-right: 40px!important;
}
@media (min-width: 900px) {
	.style-column .meta {
		width: 309px;
	}
}
.style-column .text {
	flex: 1;
}
.style-column .text small {
	display: block;
	font-size: .8rem;
	line-height: 150%;
	letter-spacing: 0.05em;
}
@media (min-width: 897px) {
	.style-row {
		width: 817px;
	}
	.style-column .text {
		flex: 1;
	}
	.style-column .text small {
		width: 289px;
	}
}
/* Style with angled photo on the bottom */
.style-angled {
	padding: 120px 0 0;
}
.style-angled .text {
	width: 50%;
	margin-bottom: 100px;
}
.style-angled .thumbs {
	margin: 0 -(var(--pic-m));
	transform-origin: 50% 0;
	transform: rotate(-5deg);
}
.style-angled picture {
	margin: 0 var(--pic-m);
	width: var(--pic-w);
	height: var(--pic-h);
}
@media (min-height: 760px) {
	.style-angled .text {
		margin-bottom: 180px;
	}
}
@media (min-width: 1194px) {
	.style-angled {
		padding: 120px 272px 0;
	}
	.style-angled .text {
		align-self: flex-start;
		width: 465px;
	}
}
/* Style with logo on the bottom */
.style-bottom-logo {
}
/* Style truncate */
.style-trunc {
	padding: var(--padxxl) 0 0;
}
.style-trunc .wrap{
	width: 55vw;
}
.style-trunc .color ul {
	margin: 0!important;
	width: 18vw;
	flex-wrap: wrap;
}
.style-trunc .color li {
	margin: 0 var(--padm) var(--padm) 0!important;
}
.style-trunc .color ul li:last-child {
	width: auto;
}
@media (min-width: 1194px) {
	.style-trunc .color ul  {
		flex-wrap: nowrap;
	}
}
/* Footer links in every detail page */
.links {
	padding: calc(2 * var(--padxl)) calc(2 * var(--padxl));
}
.links nav {
	margin: calc(-1 * var(--padm)) 0;
}
.links div {
	margin: var(--padm) 0;
}
.links a:before {
	flex: none;
	width: var(--padx);
	height: var(--padx);
	margin-right: var(--padxl);
}
.links a:after {
	flex: none;
	width: 100px;
}
.links span {
	margin-right: var(--padl);
}
/* List style with zero leading decimal */
.zero {
	flex-direction: row;
}
.zero li {
	margin: 0 var(--padl) 0 0;
	flex-direction: column;
}
.zero li:last-child {
	margin-right: 0;
}
.zero li:before {
	margin-bottom: var(--padm);
	font-size: 2rem;
	min-height: calc(var(--padm) * 1.5);
}
/* ol/ul for branding color for Suzuki */
.detail .color {
	margin: calc(-1 * var(--padm)) 0;
}
.detail .color ul {
	margin: var(--padm) calc(-1 * var(--padm));
}
.detail .color li {
	width: 32px;
	height: 32px;
	margin: 0 var(--padm);
}
.detail .bland {
	margin: -10px 0;
}
.detail .bland li {
	width: 113px;
	height: 32px;
	margin: 10px 0;
	border-radius: 0 0 100px;
}


/* Mr. Goat */

.mrgoat h2 {
	font-size: 7rem;
}
.mrgoat h3 {
	font-size: 5rem;
}
.mrgoat h4 {
	font-size: 3rem;
	letter-spacing: -.05rem;
}
.mrgoat .text {
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 100%;
	max-width: 100%;
}
.mrgoat .thumbs {
	position: absolute;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.mrgoat img {
	width: auto;
	height: 400px;
	max-height: 90vh;
}
.mrgoat .ig:after {
	width: 100px;
}
.mrgoat .arrow {
	position: relative;
	bottom: 0;
	right: 0;
	transform: initial;
}

.igstage .arrow {
	display: flex;
}