@charset "UTF-8";

@use 'mixins';

@mixin root {
    --black: #aaa;
    --white: #090909;
    --dark-white: #111;
    --yellow: #705f02;
    --black-75: rgba(255, 255, 255, 0.50);
    --black-50: rgba(255, 255, 255, 0.25);
    --black-25: rgba(255, 255, 255, 0.15);
    --black-15: rgba(255, 255, 255, 0.05);
    --black-gray: #bbb;
    --black-gray-light: #aaa;
    --gray-light: #333;
    --red: #B4352C;
    --lime: #0d4f03;
}

@mixin style-cover {
    &:after {
        background: transparent;
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, .75) 20%, rgba(0, 0, 0, 0) 100%);
    }
}

@mixin dark {
    .lamp {
        #sun {
            opacity: 0;
        }

        #moon {
            opacity: 1;
        }

        #ray {
            opacity: .5;
            stroke: var(--black);
        }
    }

    .spring:hover {
        color: var(--white);
    }

    .arrow:after {
        filter: invert(100%);
    }

    .logo {
        .dwan-logo {
            filter: invert(100%);
        }
    }

    .items {
        background-color: var(--dark-white);

        .close:hover {
            color: var(--black);
        }

        li:hover {

            &:before,
            &:after {
                color: var(--white);
            }
        }
    }

    .detail {
        picture {
            box-shadow: none;

            img {
                position: relative;
                z-index: 1;
            }

            .shadow {
                @include mixins.make-it-block;
                @include mixins.positions;
                position: absolute;
                z-index: 0;
                opacity: .4;
                background-size: 100%;
                transform: translate3d(-10px, 30px, 0);
                filter: blur(40px);
            }
        }
    }

    .style-spread {
        @include style-cover();
    }

    .forcebright {
        background-color: #4f4f4f;
    }

    .style-slideshow {

        .before,
        .after {
            background-image: url(../img/arrow-white.svg);
        }
    }

    .style-background-cover,
    .style-background-basic {
        .text {
            background-color: rgba(0, 0, 0, .9);
        }
    }

    .style-staggered {
        @include style-cover();
    }

    .style-spread--big {
        @include style-cover();
    }

    .links {
        a:last-child:after {
            background-image: url(../img/arrow-white.svg);
        }
    }

    .cofound {
        .thumbs {
            background-color: var(--white);
        }

        a {
            color: var(--white);

            &:hover {
                color: var(--black);
            }
        }
    }
}

.dark {
    &:root {
        @include root();
    }

    @include dark();
}

@media (prefers-color-scheme: dark) {
    .no-js {
        @include root();

        @include dark();
    }
}