@charset "UTF-8";

/* Custom fonts */

$fontname: 'Quicksand';

@font-face {
	font-family: $fontname;
	src: url(../fonts/Quicksand-VariableFont_wght.woff2) format("woff2 supports variations"),
		url(../fonts/Quicksand-VariableFont_wght.woff2) format("woff2-variations");
	font-weight: 100 1000;
	font-style: normal;
}