@charset "UTF-8";

@use 'sass:math';
@use 'mixins';

:root {
	@media screen and (min-width: mixins.$screen-medium) {
		--pic-w: 291px;
		--pic-h: 497px;
		--pic-m: 30px;
	}

	@media screen and (min-width: mixins.$screen-verywide) {
		--pic-w: 436.5px;
		--pic-h: 745.5px;
		--pic-m: 40px;
	}
}


/* Defining the font size based on aspect ratio */
html {
	font-size: 16px;

	@media screen and (min-width: mixins.$screen-medium) {
		font-size: 18px;
	}

	@media screen and (min-width: mixins.$screen-ultrawide) {
		font-size: 20px;
	}
}


/* Default style */
h1 {
	font-size: 3rem;

	@media screen and (min-width: mixins.$screen-medium) {
		font-size: 3rem;
	}

	@media screen and (min-width: mixins.$screen-abitwide) {
		font-size: 3.5rem;
	}

	@media screen and (min-width: mixins.$screen-wide) {
		font-size: 5rem;
	}
}

h2 {
	@media screen and (max-width: mixins.$screen-medium) {
		@include mixins.typography(2.5rem, false, 100%, -0.02em);
	}
}

h3 {
	@media screen and (max-width: mixins.$screen-medium) {
		@include mixins.typography(1.75rem, false, 110%);
	}
}

h4 {
	@media screen and (max-width: mixins.$screen-medium) {
		@include mixins.typography(1.2rem, false, 110%);
	}
}

p {
	line-height: 150%;
}

/* Header style */

.size,
.lamp,
.menu {
	margin: 0 0 0 var(--padxl);
}


/* Common middle content */

.middle {
	padding: var(--pady) var(--padx);
}

.auto {
	padding: calc(2 * var(--pady)) var(--padx);

	@media (min-width: mixins.$screen-wide) {
		padding: calc(2 * var(--padxl)) var(--padx);
	}
}

.grid {
	grid-row-gap: var(--padl);
	grid-column-gap: var(--padxl);

	@media (min-width: mixins.$screen-medium) {
		grid-row-gap: var(--padxl);
		grid-column-gap: var(--padxxl);
	}
}

// end .middle


.horizontal,
div>.horizontal {
	display: block;
}

.vertical,
div>.vertical {
	display: none;
}


/* Homepage content */
.main-text {
	max-width: 800px;
	text-align: center;
	align-items: center;

	@media (min-width: mixins.$screen-wide) {
		max-width: initial;
	}

	h1 {
		margin: 0 var(--padl);

		@media (max-width: mixins.$screen-wide) {
			white-space: normal;
		}
	}
}


/* Homepage footer */
.footer {
	padding: var(--pady) var(--padx);
}


/* Homepage listing item */
.padding {
	@include mixins.make-it-full-size;
	padding: 0 calc(2 * var(--padx));

	a,
	span,
	img.logo {
		width: auto;
		height: 100%;
		max-width: 50vw;
		max-height: 30vh;
	}

	a,
	span {
		height: auto;
	}

	.logo {
		&.horizontal {
			display: block;
		}

		&.vertical {
			display: none;
		}
	}
}

/* Homepage footer */
.footer .email {
	font-size: .8rem;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: var(--gray);
}


/* Arrow links */

.arrow {
	bottom: var(--pady);
	right: var(--padx);
	margin: var(--pady) var(--padx);

	&:after {
		margin: 0 0 0 24px;
		width: 100px;
		height: 16px;
	}

	span {
		display: none;

		@media screen and (min-width: mixins.$screen-medium) {
			display: block;
		}
	}

	&-big {
		.arrow {
			flex-flow: row nowrap;
			transform: rotate(90deg) translateY(100%);
			transform-origin: right bottom;
		}
	}

	&-small {
		.arrow {
			transform: none;

			@media screen and (min-width: mixins.$screen-medium) {
				padding-right: 120px;
			}

			&:after {
				position: absolute;
				top: 50%;
				right: 20px;
				width: 50px;
				height: 16px;
				margin-right: -20px;
				transform: translateY(-50%);
				transition: width .16s cubic-bezier(0.175, 0.885, 0.32, 1.275), right .16s cubic-bezier(0.175, 0.885, 0.32, 1.275);

				@media screen and (min-width: mixins.$screen-medium) {
					width: 80px;
				}
			}
		}

		&:hover {
			.arrow:after {
				right: 0;

				@media screen and (min-width: mixins.$screen-medium) {
					width: 100px;
				}
			}
		}
	}
}


/* Year information */
.year {
	right: var(--padxxl);
	bottom: var(--pady);
}


/* Background flare */
.flares {
	@include mixins.make-it-full-size;
	top: 0;
	left: 0;

	img {
		width: 120vw;
		height: 40vw;
	}
}


/* Home style */
.home {

	.cover,
	.middle:before {
		@include mixins.make-it-block;
		@include mixins.make-it-full-size;
		position: absolute;
		top: initial;
		left: 0;
		bottom: 0;
		pointer-events: none;
	}

	.cover {
		background-color: var(--white);
	}

	.cover {
		opacity: 0;
		background-color: var(--black-25);
	}

	.flares {
		position: absolute;
		z-index: 1;
	}

	.main-text,
	.padding {
		z-index: 2;
	}
}


/* Detail page common style */
.detail {
	picture {
		box-shadow: -5px 15px 30px rgba(0, 0, 0, 0.25);

		@media (min-height: mixins.$screen-small) {
			box-shadow: -10px 30px 60px rgba(0, 0, 0, 0.25);
		}

		&.logo {
			box-shadow: none;
		}

		&,
		img {
			border-radius: 8px;
		}
	}

	.color {
		ul {
			gap: calc(var(--padx) / 2);
			flex-flow: row nowrap;
		}

		li {
			width: 24px;
			height: 24px;
			line-height: 24px;
			flex: none;
			font-size: .65rem;

			@media screen and (min-width: mixins.$screen-medium) {
				width: 32px;
				height: 32px;
				line-height: 32px;
				font-size: .65rem;
			}
		}
	}

	.bland {
		margin: -10px 0;

		li {
			width: 113px;
			height: 32px;
			margin: 10px 0;
			border-radius: 0 0 100px;
		}
	}
}

.sagara {
	.style-column {
		.meta {
			width: 20vw;

			@media (min-width: mixins.$screen-medium) {
				width: 310px;
			}
		}

		.style-row {
			flex: 1;
			width: auto;
		}
	}

	.style-background--parallax {
		.logos {
			img {
				max-width: 12.5vw;
				height: auto;
			}
		}
	}
}

/* Style text on the left and image spread like fan */
%style-spread {
	flex-direction: row;
	padding: 0 var(--padxl);

	.text {
		width: 37.5vw;
		flex: none;

		@media (min-width: mixins.$screen-medium) {
			width: 465px;
		}
	}
}

.style-spread {
	@extend %style-spread;

	.thumbs {
		min-height: var(--pic-h);
		height: 100vh;

		@media (min-width: mixins.$screen-wide) {
			flex: none;
			width: 465px;
		}
	}

	picture {
		width: calc(9/10 * var(--pic-w));
		transform-origin: 0 0;

		&.pic-4 {
			top: 25%;
			left: 50%;
			transform: rotate(-10deg);
		}

		&.pic-5 {
			top: 40%;
			left: 10%;
			transform: rotate(-30deg);
		}

		&,
		img {
			border-radius: 20px;
		}
	}

	@media (min-width: mixins.$screen-wide) {
		padding: 0;
		justify-content: center;
	}
}

.style-spread--big {
	@extend .style-spread;

	.thumbs {
		@media (min-width: mixins.$screen-wide) {
			flex: none;
			width: 600px;
		}
	}

	picture {
		transform-origin: bottom right;
		width: calc(2.25 * var(--pic-w));

		@for $i from 1 through 3 {
			&.pic-#{$i} {
				top: math.percentage(calc((4.5 - ($i * 5/6)) / 10));
				left: math.percentage(calc((2.25 + ($i * 5/4)) / 10));
				transform: rotate((($i - 2) * 5) + deg);

				&.top {
					top: 5%;
					left: 15%;
				}
			}
		}
	}
}

/* Style spread left */
.style-spread--left {
	@extend %style-spread;

	.text {
		flex: none;
		width: 380px;
		margin-left: 50px;

		@media (min-width: mixins.$screen-wide) {
			margin-left: 100px;
		}
	}

	.thumbs {
		display: flex;
		flex: 0;
		margin-top: 125px;
	}

	picture {
		width: 300px;
		transform-origin: 0;
		transform: rotate(-5deg);

		@media (min-width: mixins.$screen-medium) {
			width: 350px;
		}

		@media (min-width: mixins.$screen-abitwide) {
			width: 428px;
		}
	}

}

/* Style plain */
.style-plain {
	@extend %style-spread;
	gap: var(--padl);

	.text {
		width: calc(1.5 * var(--pic-w));
	}

	picture {
		width: 100vh;

		&.plain {
			width: auto;
		}
	}
}

.style-plain-sticky {
	padding: 0;

	.middle {
		display: flex;
		align-self: flex-start;
		flex-direction: row;
		gap: var(--padxl);
		padding: var(--pady) var(--padxxl);
	}

	.thumbs {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 100%;

		picture {
			opacity: 0;
			position: absolute;

			&.pic-1-1 {
				opacity: 1;
			}
		}
	}
}

.style-plain-scroll {
	gap: 0;
	padding: 0 calc(2 * var(--padx)) 0 0;

	.text {
		display: flex;
		flex: none;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
		width: calc(var(--padxl) + calc(2 * var(--padx)) + var(--pic-w));
		padding: 0 var(--padxl) 0 calc(2 * var(--padx));
		background: transparent;
		background: -moz-linear-gradient(90deg, var(--dark-white) 80%, rgba(232, 234, 235, 0) 100%);
		background: -webkit-linear-gradient(90deg, var(--dark-white) 80%, rgba(232, 234, 235, 0) 100%);
		background: linear-gradient(90deg, var(--dark-white) 80%, rgba(232, 234, 235, 0) 100%);
	}

	.scroll {
		width: var(--pic-w);
	}

	.thumbs {
		gap: var(--padx);

		@media (min-width: mixins.$screen-wide) {
			gap: var(--padxl);
		}
	}

	picture {
		width: var(--pic-w);
		height: auto;
	}
}

.style-plain-single {

	.text {
		width: calc(1.25 * var(--pic-w));

		@media screen and (min-width: mixins.$screen-medium) {
			width: calc(1.5 * var(--pic-w));
		}
	}

	picture {
		max-width: calc(2.5 * var(--pic-w))
	}
}

/* Style that look like table */
.style-flex {
	padding: var(--padxl) var(--padl);
}

.style-flex-swap {
	.style-column {
		flex-direction: row-reverse;
	}
}

/* Style text on top and Images in the bottom */
.style-top {
	padding: calc(2 * var(--pady)) calc(2 * var(--padx));
	gap: var(--padxl);
	overflow: hidden;

	@media screen and (min-width: mixins.$screen-medium) {
		padding: calc(4 * var(--pady)) calc(2 * var(--padx));
	}

	h2 {
		max-width: 468px;
	}

	.text {
		max-width: 732px;
	}

	picture {
		&:nth-child(2n) {
			margin-top: calc(var(--pic-m) * 3);
		}
	}
}

.style-top--auto {
	@extend .style-top;

	.thumbs {
		height: 25vw;
		padding-bottom: calc(var(--pic-m) * 3);

		@media (min-height: mixins.$screen-small) {
			height: 35vw;
		}
	}
}

.style-top--coverflow {
	@extend .style-top;

	.thumbs {
		height: 40vw;
	}

	picture {
		&:nth-child(2n) {
			margin-top: 0;
		}
	}
}

.style-top--left {
	justify-content: center;
	gap: var(--padxl);
	padding: var(--padxl);

	@media (min-width: mixins.$screen-medium) {
		gap: var(--padxxl);
		padding: calc(var(--padxxl) * 2);
	}
}

.style-top--static {
	@extend .style-top;
	gap: var(--padl);

	@media (min-width: mixins.$screen-medium) {
		gap: var(--padxxl);
	}
}

.style-top--static-auto {
	@extend .style-top;
	gap: var(--padxl);

	@media (min-width: mixins.$screen-abitwide) {
		gap: var(--padxxl);
	}

	.logos {
		.grid {
			grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));

			@media (min-width: mixins.$screen-abitwide) {
				grid-template-columns: repeat(auto-fit, minmax(178px, 1fr));
			}
		}
	}

	.ss {
		.grid {
			column-gap: var(--padxl);
			row-gap: var(--padxl);
			grid-template-columns: repeat(4, 25vw);
			grid-template-rows: repeat(3, 16vw);
		}
	}
}

.style-top--static-auto-height {
	@extend .style-top--static-auto;

	.logos {
		.grid {
			grid-row-gap: 4vw;
			grid-column-gap: 4vw;
			grid-template-columns: repeat(auto-fit, minmax(7.5vw, 1fr));

			@media (min-width: mixins.$screen-verywide) {
				grid-row-gap: 5vw;
				grid-column-gap: 5vw;
				grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
			}

			img {
				width: 7.5vw;
				height: 7.5vw;

				@media (min-width: mixins.$screen-verywide) {
					width: 96px;
					height: 96px;
				}
			}
		}
	}
}

/* Style text on top without image */
.style-top--text {
	padding: calc(var(--padxl) * 4) var(--padx) calc(var(--padxl) * 3); // !important;

	.text {
		width: 100%;
		flex-flow: row nowrap;

		@media (min-width: mixins.$screen-abitwide) {
			width: 910px;
		}
	}

	h2 {
		width: 380px;
		margin-right: 60px;
	}
}

/* Style with mansonry like layout with text on the right */
.style-masonry {
	overflow: hidden;

	.thumbs {
		flex-flow: row wrap;
		width: calc((var(--pic-w) * 4) + (var(--pic-m) * 10));
		padding: var(--pic-m);
		padding-bottom: calc(var(--pic-m) * 8);

		&>*:nth-child(2n) {
			transform: translate3d(0, calc(var(--pic-m) * 3), 0);
		}

		@media (min-width: mixins.$screen-medium) {
			padding-bottom: calc(var(--pic-m) * 4);
		}

	}

	picture,
	.text {
		width: var(--pic-w);
		height: var(--pic-h);
		margin: var(--pic-m);
	}

	.text {
		padding: var(--pic-m);
	}
}

.style-masonry-2 {
	.thumbs {
		transform: rotate(-2.5deg);
	}

	.text {
		justify-content: center;
	}
}

/* Style with background image */
.style-background {
	.text {
		width: calc(1.25 * var(--pic-w));

		@media (min-width: mixins.$screen-wide) {
			width: var(--pic-w);
		}
	}
}

.style-background-basic {
	.text {
		width: 100%;
	}

	@media screen and (min-width: mixins.$screen-medium) {
		.text {
			width: 400px;
		}
	}
}

.style-background-cover {
	.thumbs img {
		width: 120vw;
	}
}

.bkpm .style-background {
	.thumbs {
		img {
			width: 170vw;
		}
	}
}

/* Style that look like table */
.style-row {
	margin: calc(-1 * var(--padl)) 0;
	gap: var(--pady);

	@media (min-width: mixins.$screen-medium) {
		width: 817px;
	}
}

.style-column {
	margin: 0;
	gap: var(--padxl);

	&.big {
		gap: var(--padxxl);
	}

	.meta {
		width: 230px;
		gap: calc(var(--pady) / 2);

		@media (min-width: mixins.$screen-medium) {
			width: 310px;
		}
	}

	.text {
		flex: 1;

		small {
			display: block;
			font-size: .8rem;
			line-height: 150%;
			letter-spacing: 0.05em;
		}

		@media (min-width: mixins.$screen-medium) {
			flex: 1;

			small {
				width: 289px;
			}
		}
	}

	.style-row {
		margin: initial;
		width: initial;
	}
}

/* Style with angled photo on the bottom */
.style-angled {
	padding: calc(3 * var(--pady)) 0 0;
	gap: var(--padxl);

	@media (min-width: mixins.$screen-medium) {
		padding-top: calc(4 * var(--pady));
		gap: calc(4 * var(--pady));
	}

	@media (min-width: mixins.$screen-wide) {
		padding: calc(4 * var(--pady)) calc(7 * var(--padx)) 0;
	}

	.content {
		gap: var(--padxl);
	}

	.text {
		width: 50%;

		@media (min-width: mixins.$screen-wide) {
			align-self: flex-start;
			width: 465px;
		}
	}

	.thumbs {
		margin: 0 calc(-1 * (var(--pic-m)));
		transform-origin: 50% 0;
		transform: rotate(-5deg);
	}

	picture {
		margin: 0 var(--pic-m);
		width: var(--pic-w);
		height: auto;
	}
}

.style-angled-individual {
	.text {
		margin: 0;
		align-self: center;
	}

	.meta {
		margin-bottom: var(--padl);

		ul {
			gap: var(--padm);
		}
	}

	.thumbs {
		transform: none;
		picture {
			width: calc(var(--pic-w) * 7/6);
		}
	}
}

.style-angled-straight {
	padding: calc(2 * var(--pady)) 0 0;
	gap: calc(2 * var(--pady));

	@media (min-width: mixins.$screen-medium) {
		padding-top: calc(3 * var(--pady));
		gap: calc(3 * var(--pady));
	}

	@media (min-width: mixins.$screen-wide) {
		padding: calc(3 * var(--pady)) calc(7 * var(--padx)) 0;
	}

	.thumbs {
		transform: rotate(0deg);
	}

	picture {
		flex: none;
		width: calc(var(--pic-w) * 5/6);
		display: block;
	}
}

.style-angled--auto {
	@extend .style-angled;
	padding: calc(3 * var(--pady)) calc(3 * var(--pady)) calc(5 * var(--pady));
	margin: 0
}

/* Style truncate */
.style-trunc {
	padding: var(--padxxl) 0 0;

	.wrap {
		width: 55vw;
	}

	.color {
		ul {
			margin: 0;
			width: 250px;
			flex-wrap: wrap;

			@media (min-width: mixins.$screen-wide) {
				flex-wrap: nowrap;
			}
		}

		li {
			margin: 0 var(--padm) var(--padm) 0; // !important;

			&:last-child {
				width: auto;
			}
		}
	}

	.wrap:before,
	&+hr+.style-slideshow:before,
	&+hr+.style-slideshow:after {
		@include mixins.make-it-block(block);
		@include mixins.positions(calc(var(--padxxl) + 2.25vh), initial, 0, 19vw);
		position: absolute;
		width: 1.5vw;
		height: auto;
		border: 1px solid var(--black);
		border-bottom: 0;
		border-right: 0;
	}

	&+hr+.style-slideshow {

		&:before,
		&:after {
			top: 0;
			border-top: none;
			bottom: 50vh;
		}

		&:after {
			top: 50vh;
			bottom: initial;
			border: none;
			border-radius: 100%;
			width: 10px;
			height: 10px;
			margin: -5px 0 0 -5px;
			background-color: var(--black);
		}
	}
}

/* Style slideshow */
.style-slideshow {
	padding: 0
}

/* Style slideshow small */
.style-slideshow--small {
	@extend .style-slideshow;
}

/* Style staggered content */
.style-staggered {
	@extend %style-spread;
	gap: var(--padl);
	padding: 0 var(--padxl);

	@media (min-width: mixins.$screen-medium) {
		gap: var(--padxl);
		padding: 0 var(--padxxl);
	}

	@media (min-width: mixins.$screen-wide) {
		gap: var(--padxxl);
	}

	.text {
		max-width: 300px;

		h1 {
			font-size: 2.5rem;
			line-height: 90%;

			@media (min-width: mixins.$screen-medium) {
				font-size: 3.5rem;
			}

			@media (min-width: mixins.$screen-wide) {
				font-size: 4.25rem;
			}
		}

		@media (min-width: mixins.$screen-medium) {
			max-width: 350px;
		}

		@media (min-width: mixins.$screen-wide) {
			max-width: 450px;
		}
	}

	.thumbs {
		picture {
			@media (min-width: mixins.$screen-wide) {
				margin-left: -50%;
			}
		}
	}
}

/* Style with everything in the center */
.style-center {
	padding: calc(4 * var(--pady)) calc(2 * var(--padx));

	.thumbs {
		gap: var(--padl);
		height: 35vw;
	}

	picture {
		&:nth-child(2) {
			height: 85%;
		}

		&:nth-child(3) {
			height: 70%;
		}
	}

	.text {
		padding: 0 var(--pads);

		@media (min-width: mixins.$screen-small) {
			padding: 0 var(--padxl);
		}
	}
}

.style-center--condensed {
	@extend .style-center;

	.thumbs {
		height: initial;
	}

	picture {
		&:nth-child(2) {
			height: auto;
		}

		&:nth-child(3) {
			height: auto;
		}
	}

	.logos {
		padding: 0 var(--pads);

		@media (min-width: mixins.$screen-small) {
			padding: 0 var(--padl);
		}

		@media (min-width: mixins.$screen-medium) {
			padding: 0 var(--padxxl);
		}
	}

	.grid {
		grid-row-gap: var(--pads);
		grid-column-gap: var(--pads);
		grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));

		@media (min-width: mixins.$screen-small) {
			grid-row-gap: var(--padl);
			grid-column-gap: var(--padl);
			grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
		}

		@media (min-width: mixins.$screen-medium) {
			grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
		}

		@media (min-width: mixins.$screen-wide) {
			grid-row-gap: var(--padxl);
			grid-column-gap: var(--padxxl);
			grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
		}
	}
}

.style-center--small {
	@extend .style-center;

	.thumbs {
		gap: 0;
		height: 20vw;
	}

	picture {
		order: 2;
		margin: 0 -5vw;

		&:nth-child(1) {
			order: 1;
			margin-top: -5vw;
		}

		&:nth-child(2) {
			order: 2;
			height: 100%;
		}

		&:nth-child(3) {
			order: 3;
			margin-top: 5vw;
			height: 100%;
		}
	}
}

/* Style 3D thumbs */
.style-3d {
	flex-direction: row;

	.text {
		max-width: 30vw;
		padding-left: var(--padxl);
	}

	.thumbs {
		width: 30vw;
		height: 100%;
		perspective: 1000px;

		div {
			width: 100%;
			height: auto;
			position: absolute;
			top: 50%;
			left: initial;
			right: 0;
			transform: perspective(600px);

			&:nth-child(1) {
				transform: translateX(-50%) translateY(-30%) rotateY(20deg);
			}

			&:nth-child(2) {
				transform: translateX(-25%) translateY(-50%) rotateY(20deg);
			}

			&:nth-child(3) {
				transform: translateX(0%) translateY(-70%) rotateY(20deg);
			}
		}
	}
}

/* BKPM Page */
.bkpm {
	.color {

		li,
		li:last-child {
			width: 24px;
			height: 24px;
			line-height: 24px;

			span {
				width: 24px;
				height: 24px;
				flex: 0 0 24px;
				display: block;
			}
		}
	}

	.style-top {
		li {
			width: 24px;
			height: 24px;
			line-height: 24px;
		}
	}
}


/* Footer links in every detail page */
.links {
	padding: calc(2 * var(--padxl)) calc(2 * var(--padx));

	@media screen and (min-width: mixins.$screen-medium) {
		padding: calc(2 * var(--padxl)) calc(2 * var(--padxl));
	}
}

/* List style with zero leading decimal */
.zero {
	flex-direction: row;

	li {
		margin: 0 var(--padl) 0 0;
		flex-direction: column;

		&:last-child {
			margin-right: 0;
		}

		&:before {
			margin-bottom: var(--padm);
			font-size: 2rem;
		}
	}
}


/* Me Page */
.me {

	h2,
	h3 {
		font-size: 4.5rem;
		letter-spacing: -.25rem;
		padding: var(--pads) 0 var(--padm);
	}

	.text {
		padding: 0 calc(2 * var(--padx));
	}

	.intro {
		p {
			font-size: .9rem;
		}
	}

	#sayhi {
		.title {
			width: 350px;
			transform-origin: 100% 100%;
			transform: translate(0, -350px) rotate(-90deg);
		}
	}

	#now,
	#webdesigner {
		padding-left: calc(2 * var(--padx));

		.text {
			width: 50%;
			max-width: 50vw;
		}
	}

	#usedto {
		h2 {
			font-size: 10vh;
		}

		p {
			font-size: 2.5vh;
		}
	}

	#webdesigner {
		p {
			max-width: 450px;
		}
	}

	#sayhi {
		.text {
			display: flex;
			text-align: left;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: flex-end;
			padding: 0;
		}

		p {
			margin-left: var(--padm);
			max-width: 300px;
		}
	}
}

/* Musiku page */

.musiku {
	.style-row {
		width: auto;
		padding: calc(2 * var(--padxxl));
	}

	.style-column {
		width: 75vw;

		.meta {
			width: auto;

			.logo {
				width: 20vw;
				height: auto;
			}

			picture {
				width: 28vw;
			}
		}

		@media screen and (min-width: mixins.$screen-medium) {
			width: 55vw;

			.meta {
				.logo {
					width: 10vw;
				}

				picture {
					width: 14vw;
				}
			}
		}
	}
}

/* AAI page */

.aai {
	.style-column {
		.meta {
			width: 180px;

			@media (min-width: mixins.$screen-medium) {
				width: 310px;
			}
		}
	}
}

/* Mr. Goat */

.mrgoat {
	.spin {
		height: 100vh;
	}

	h2 {
		font-size: 5rem;

		@media (min-width: mixins.$screen-wide) {
			font-size: 6rem;
		}
	}

	p {
		font-size: 2rem;
		line-height: 120%;
		max-width: 1000px;
		padding: 0 var(--padx);
	}

	picture,
	picture img {
		width: auto;
		height: 400px;
		max-height: 90vh;
	}

	.arrow {
		position: relative;
		top: 0;
		left: 0;
		transform: initial;
	}

	.h2 {
		padding: 0 var(--padx) var(--padm);
		line-height: 80%;
		letter-spacing: -.075em;
	}
}

.float {
	p {
		font-size: 1rem;
	}
}

#viet {
	top: 20vh;
}

#nyc {
	bottom: 20vh;
}

#food {
	top: 30vh;
}

#travel {
	bottom: 30vh;
}

// Plurk Page

.plurk {
	.arrow-big {
		.arrow {
			bottom: 40px;
		}
	}
}