/* For those who disable js */

@keyframes fade-out {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

html.no-js {
	&.page-home {
		animation-name: fade-out;
		animation-duration: 2.56s;

		main {
			animation-name: none;
		}
	}

	main {
		animation-name: fade-out;
		animation-duration: 2.56s;
	}

	#loader,
	#mode {
		display: none;
	}

	main,
	header,
	.footer {
		opacity: 1;
	}

	.middle {
		background-color: transparent;
	}

	.size,
	.lamp {
		display: none;
	}

	.year {
		position: absolute;
	}

	.home {
		.middle {
			.cover {
				display: none;
			}
		}
	}

	.me {
		.text {
			padding: 0;
		}

		#about {
			strong {
				color: var(--red);
				text-decoration: underline;
			}
		}

		#now {
			.thumbs {
				display: flex;
				align-items: flex-start;
				justify-content: center;
				height: 200vh;

				picture {
					position: sticky;
					top: var(--pady);
					display: flex;
					height: calc(100vh - (2 * var(--pady)));
				}

				img {
					position: relative;
					top: 0;
					left: 0;
					transform: initial;
				}
			}
		}

		#webdesigner {
			picture {
				opacity: 0;
			}
		}

		#mrgoat {
			transform: translate(0, 0);
			pointer-events: all;
		}

		.mrgoat {

			&.hidden,
			.hidden {
				display: none;
				height: 0;
			}
		}
	}


	/* email movement */

	.hi {
		a {
			span {
				position: relative;
				display: block;
				transition: margin .24s ease-out;
			}

			small {
				transform: translate3d(0, 25%, 0);
				transition: opacity .32s ease-in, transform .32s ease-in;
			}
		}

		.email:hover span {
			margin-right: var(--padl);
		}

		.social:hover span:first-child,
		h1:hover .social span:nth-child(2) {
			margin-left: var(--padl);
		}

		h1 .email:hover+.social span:nth-child(2),
		h1 .social:hover span:nth-child(2) {
			margin-left: 0;
		}

		.social:hover span:nth-child(2) {
			margin-right: var(--padl);
		}

		.email:hover small,
		.social:hover span:first-child small,
		h1:hover .social span:nth-child(2) small {
			transform: translate3d(0, 0, 0);
			opacity: 1;
			transition: opacity .16s ease-out, transform .16s ease-out;
		}

		h1 .social:hover span:nth-child(2) small,
		h1 .email:hover+.social span:nth-child(2) small {
			transform: translate3d(0, 25%, 0);
			opacity: 0;
		}
	}

	.imuiux,
	.follow,
	.us,
	.know {
		position: relative;
		pointer-events: auto;
	}

	#permission,
	.grant,
	#statistics,
	#hello,
	#permission,
	#spacer,
	#credits {
		display: none;
	}

	#nojs {
		display: flex;
	}

	#statistics {
		display: none !important;
	}
}

#nojs {
	position: relative;
	display: none;
	background: url(../img/honocoroko.webp) center top no-repeat;
	background-size: cover;

	&::before {
		position: absolute;
		display: block;
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, .5);
	}

	.text {
		text-align: center;
		background-color: var(--white);
		max-width: 300px;
		padding: var(--padl);
	}
}