/* For those who disable js */

@keyframes fade-out {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

html.no-js {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;

	// Animate appereang
	&.page-home {
		animation-name: fade-out;
		animation-duration: 2.56s;

		main {
			animation-name: none;
		}
	}

	main {
		animation-name: fade-out;
		animation-duration: 2.56s;
	}

	// Display hidden tags
	main,
	header,
	.footer {
		opacity: 1;
	}

	.year {
		position: absolute;
	}

	// Hide javascript button and action

	#loader,
	#mode {
		display: none;
	}

	.size,
	.lamp {
		display: none;
	}

	// Hide cover
	main.home {
		.middle {
			.cover {
				display: none;
			}
		}
	}

	// Sticky animation when JS is not available
	main.me {
		.text {
			padding: 0;
		}

		#about {
			strong {
				color: var(--red);
				text-decoration: underline;
			}
		}

		#now {
			.thumbs {
				display: flex;
				align-items: flex-start;
				justify-content: center;
				height: 200vh;

				picture {
					position: sticky;
					top: var(--pady);
					display: flex;
					height: calc(100vh - (2 * var(--pady)));
				}

				img {
					position: relative;
					top: 0;
					left: 0;
					transform: initial;
				}
			}
		}

		#webdesigner {
			picture {
				opacity: 0;
			}
		}

		#mrgoat {
			transform: translate(0, 0);
			pointer-events: all;
		}

		.mrgoat {

			&.hidden,
			.hidden {
				display: none;
				height: 0;
			}
		}
	}

	// Replurk page
	#permission,
	.grant,
	#statistics,
	#hello,
	#permission,
	#spacer,
	#credits {
		display: none;
	}

	#nojs {
		display: flex;
	}

	#statistics {
		display: none !important;
	}

	#nojs {
		position: relative;
		display: none;
		background: url(../img/honocoroko.webp) center top no-repeat;
		background-size: cover;

		&::before {
			position: absolute;
			display: block;
			content: "";
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, .5);
		}

		.text {
			text-align: center;
			background-color: var(--white);
			max-width: 300px;
			padding: var(--padl);
		}
	}
}