@use "sass:math";

@use 'fonts';
@use 'mixins';

$padx: 20px;
$pady: 17.5px;
$pads: 7.5px;

$white: #fff;
$black: #222;
$black-25: rgba(0, 0, 0, 0.15);
$black-50: rgba(0, 0, 0, 0.25);
$black-gray: #111111;
$red: #FF0F1E;

@media print {

	body,
	html {
		font-family: fonts.$fontname, sans-serif;
		font-size: 16px;
		letter-spacing: .065rem;
		font-weight: 500;
		margin: 0;
		padding: 0;
		line-height: 100%;
		color: $black-gray;
	}

	body {
		padding: $pady $padx;
	}

	*,
	*:before,
	*:after {
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		line-height: 120%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		display: block;
		padding: 0;
		margin: math.div($pady, 2) 0 math.div($padx, 4);
	}

	p,
	li {
		font-size: 1rem;
		line-height: 150%;
	}

	small {
		line-height: 120%;
	}

	a {
		display: inline-block;
		text-decoration: none;
		color: $red !important;
		pointer-events: all;
	}

	h1 {
		font-size: 2.75rem;
		letter-spacing: -.125rem;
		line-height: 90%;
	}

	h2 {
		font-size: 2.25rem;
		letter-spacing: -.05rem;
		line-height: 95%;
	}

	h3 {
		font-size: 2rem;
		letter-spacing: 0rem;
	}

	h4 {
		font-size: 1.4rem;
		letter-spacing: -.0125rem;

		&.year {
			font-size: 1rem;
			letter-spacing: .25rem;
		}
	}

	h5 {
		font-size: 1.2rem;
		letter-spacing: -.0125rem;
	}

	picture {
		display: inline-block;
		border: 1px solid $black-25;

		img {
			display: block;
			// Save print toner by reducing color itensity
			opacity: .85;
		}
	}

	ul,
	ol {
		margin: $pady 0;
	}

	li {
		margin: math.div($pady, 3) 0;
	}

	a,
	span {
		display: inline-block;
	}

	%hide {
		display: none !important;
	}

	%no-animation {
		position: relative !important;
		top: initial !important;
		left: initial !important;
		right: initial !important;
		opacity: 1 !important;
		margin-top: initial !important;
		transform: none !important;
	}

	header .right,
	.support {
		@extend %hide;
	}

	.footer>div,
	header .left a {
		@extend %no-animation;
	}

	main {
		position: relative !important;
		opacity: 1;

		hr {
			border: none;
			border-top: dashed 1px $black-50;
			margin: (1.5 * $pady) 0;
		}

		.print {
			display: block;
			transform: initial !important;
		}

		.qr {
			position: absolute;
			top: (-64px - $pady);
			right: 0;
		}

		.flares,
		.arrow-small,
		.arrow-big {
			@extend %hide;
		}

		.main-text,
		.padding,
		.arrow-small,
		.arrow-big,
		.middle,
		.text,
		.meta,
		.continue,
		.prototype,
		.titles {
			@extend %no-animation;

			>h1,
			>h2,
			>h3,
			>h4,
			>h5,
			>p,
			>a,
			>div,
			>span,
			>section,
			>article,
			li,
			picture {
				@extend %no-animation;
			}
		}

		.text {
			margin: $pady 0;

			>h1,
			>h2,
			>h3,
			>h4,
			>h5,
			>p,
			>a,
			>div,
			>span,
			>section,
			>article {
				margin: 0 $padx $pady 0;
			}
		}

		.thumbs {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: $pady;

			img {
				max-width: calc(100vw - (2 * $padx));
			}
		}

		.style-column {
			margin: $pady 0;
			display: flex;
			flex-flow: row;
			align-items: center;
			align-content: center;

			>* {
				margin: 0 $padx 0 0;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.meta[hidden] {
			display: block;
		}

		.flat,
		.bland {
			list-style: none;
			display: flex;
			flex-flow: row;
			margin: 0;
			padding: 0;
			gap: math.div($pady, 2);

			li {
				margin: 0;
				padding: 0;
			}
		}

		.color {
			li {
				display: block;
				width: $pady;
				height: $pady;
				border: 1px solid $black-50;

				&:last-child {
					width: auto;
					height: auto;
					border: none;
					font-size: .8rem;
				}
			}
		}

		.bland {
			flex-flow: column;

			li {
				width: (3 *$padx);
				height: $pady;
				border-radius: 0 0 $pady 0;
			}
		}

		.style-row {
			display: flex;
			flex-direction: column;
			gap: $pady;
		}

		.style-column {
			display: flex;
			flex-direction: row;
			gap: math.div($pady, 2);
			margin: 0 !important;

			ul,
			ol {
				margin: 0 !important;

				li {
					margin: 0 !important;
				}
			}
		}

		.style-flex {
			.meta {
				display: flex;
				flex-direction: column;
				gap: math.div($pady, 2);
			}
		}

		.style-slideshow {

			ol,
			ul,
			.thumbs {
				display: flex;
				flex-direction: row;
				width: 100% !important;
				height: initial !important;
				flex-wrap: wrap;

				li {
					width: initial !important;
					height: initial !important;
					margin: 0;
					padding: 0;

					picture {
						display: block;
					}
				}
			}
		}

		.style-bottom-logo {
			picture {
				border: none;
			}
		}

		.style-masonry {
			>.thumbs div {
				flex: 100%;
			}
		}

		>hr:first-child+section,
		>hr:nth-child(2)+section {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}

	.me {

		picture,
		img {
			border: none;
		}

		.intro,
		.title {
			>* {
				@extend %no-animation;
			}

			span {
				display: flex;
				flex-direction: row;
				align-items: center;

				hr {
					width: $padx;
					border-top: 1px solid $black-50;
					margin: 0 $padx;
				}
			}
		}
	}

	.mrgoat {
		img {
			opacity: 1 !important;
		}

		.text {
			display: flex;
			flex-direction: column;
			gap: $pady;

			>div {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 5px;

				.dot {
					background-color: $black-gray;
					width: 5px;
					height: 5px;
					border-radius: 100%;
				}

				.line {
					width: $padx;
					border-top: 1px solid $black-50;
				}

				&,
				& p,
				& a {
					padding: 0;
					margin: 0;
					opacity: 1 !important;
					transform: none !important;
				}
			}
		}
	}

	.hi {
		h1 {
			display: none;
		}
	}


	main+main {
		display: none;
	}

	#loader {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 99999;
		background-color: $white;
		display: flex;
		align-content: center;
		justify-content: center;

		p {
			display: flex;
			flex-flow: row;
			align-items: center;
			justify-content: center;
			position: fixed;
			@include mixins.positions(initial, $padx, $pady);
			@include mixins.typography(.7rem, 400, false, .05rem);
			text-transform: uppercase;
			color: inherit;
		}

		span {
			&:nth-child(2) {
				display: block;
				margin: 0 0 0 20px;
				padding: 1px;
				width: 200px;
				height: $pads;
				border: 1px solid $black;
				background-color: transparent;
				appearance: none;
				border-radius: math.div($pads, 2);
			}

			i {
				display: block;
				height: 100%;
				background-color: $black;
				border-radius: math.div($pads, 2) - 2px;
			}
		}

		.simple {
			@include mixins.block(fixed, initial, initial);
			bottom: $pady;

			span {
				left: initial;
				height: $pads - 4px;
				border-radius: math.div($pads - 4px, 2);
				width: 100px;
				background-color: $black-gray;
			}
		}
	}

	.prototype,
	.continue {
		margin: $pady 0;

		>a:first-child {
			color: $black !important;
			font-weight: 600;
		}

		>a {
			margin-right: $padx;
		}
	}

	.reading {
		font-size: .8rem;
		letter-spacing: .1rem;
	}

	svg,
	img {
		opacity: .85;
	}
}