@use 'mixins';

:root {
	@media screen and (min-height: mixins.$screen-small) {
		--pic-w: calc(181px * 5/4);
		--pic-h: calc(309px * 5/4);
	}
}

/* Defining the font size based on aspect ratio */
html {
	font-size: 16px;

	@media screen and (min-width: mixins.$screen-small) {
		font-size: 18px;
	}

	@media screen and (min-width: mixins.$screen-abitwide) {
		font-size: 20px;
	}
}

/* Default style */
h1 {
	font-size: 3.25rem;
	line-height: 90%;

	@media (min-width: mixins.$screen-verysmall) {
		letter-spacing: -.05rem;
		font-size: 3rem;
	}

	@media screen and (min-height: mixins.$screen-small) {
		margin-bottom: calc(var(--padl) * 2/3);
	}

}

h2 {
	font-size: 2.5rem;

	@media (min-width: mixins.$screen-verysmall) {
		letter-spacing: 0;
		font-size: 2.25rem;
	}

	@media screen and (min-height: mixins.$screen-small) {
		margin-bottom: calc(var(--padl) * 2/3);
	}
}

h3 {
	font-size: 1.75rem;

	@media screen and (min-height: mixins.$screen-small) {
		font-size: 2rem;
		line-height: 110%;
	}
}

h4 {
	font-size: 1.2rem;
}

p {
	line-height: 140%;
}


/* Header style */
header {
	left: var(--padx);
	right: var(--padx);
	top: var(--pady);
}

.size,
.lamp,
.menu {
	margin: 0 0 0 var(--padl);
}

.logo svg {
	width: 30.6px;
	height: 47px;
}

.switch {
	span {
		display: none;
	}

	svg {
		margin-right: 0;
	}
}

/* Menu item */
.menu .items {
	width: calc(1.5 * var(--pic-w));

	@media (min-width: mixins.$screen-verysmall) {
		width: calc(2 * var(--pic-w));
	}

	li a {
		padding-left: calc(2 * var(--pads));
	}
}

/* Common middle content */

.middle {
	padding: var(--pady) var(--padx);

	@media screen and (min-height: mixins.$screen-abitwide) {
		padding: calc(3 * var(--pady)) var(--padx);

		&.full {
			min-height: 100%;
		}
	}

	.logo {
		width: auto;
		max-width: 75vw;
		max-height: 15vh;

		img {
			margin: 0 auto;
			width: auto; // !important;
			height: 100%; // !important;
		}
	}
}

.auto {
	padding: calc(2 * var(--padxl)) var(--padxl);

	@media screen and (min-height: mixins.$screen-small) {
		padding: calc(4 * var(--pady)) var(--padxl);
	}
}

.grid {
	grid-row-gap: var(--padxl);
	grid-column-gap: var(--padl);

	@media (min-width: mixins.$screen-medium) {
		grid-row-gap: var(--padxxl);
		grid-column-gap: var(--padxl);
	}
}

// end .middle

.home-aai,
.aai .middle {
	img.logo {
		max-height: 6vh;
	}
}

.home-musiku,
.musiku .middle {
	img.logo {
		max-height: 3.5vh;
	}
}

.home-suzuki,
.suzuki .middle {
	img.logo {
		max-height: 14vh;
	}
}

.home-tas,
.tas .middle {
	img.logo {
		max-height: 6vh;
	}
}

.home-v1 {
	object {
		max-height: 10vh;
	}
}

.horizontal,
div>.horizontal {
	display: none;
}

.vertical,
div>.vertical {
	display: block;
}


/* Homepage content */
.main-text {
	margin: 0 0 calc(2 * var(--pady));
	padding: 0 var(--padx);
	max-width: 450px;
	align-items: flex-start;

	@media (min-width: mixins.$screen-verysmall) {
		padding: 0 var(--padl);
	}

	@media (min-width: mixins.$screen-small) {
		max-width: 500px;
	}

	@media (min-width: mixins.$screen-abitwide) {
		max-width: 550px;
	}

	h1 {
		font-size: 3.5rem;
		text-align: center;
		margin: 0;

		@media (min-width: mixins.$screen-verysmall) {
			font-size: 4rem;
		}

		@media (min-width: mixins.$screen-small) {
			font-size: 5rem;
		}
	}
}

/* Homepage footer */
.footer {
	padding: var(--pady) var(--padx);

	.email {
		display: none;
	}
}

/* Homepage listing item */
.padding {
	display: flex;
	flex-direction: column;
	margin: calc(3 * var(--pady)) 0 0;
	max-width: calc(100vw - (2 * var(--padx)));
	justify-content: center;

	.replurktitle {
		font-size: 3.5rem;
		letter-spacing: -.25rem;
		line-height: 100%;
		text-align: center;
	}

	.replurksubtitle {
		margin-top: 0;
		font-size: 1.25rem;
	}
}

/* Arrow links */
.arrow-big,
.arrow {
	height: calc(5 * var(--pady));
}

.detail .arrow-big {
	padding-top: calc(2 * var(--pady));
}

.arrow:after {
	width: var(--padxl);
	height: var(--padxl);
	margin: var(--padm) 0 0;
	transform: rotate(90deg);
}

.arrow-small {
	span {
		display: none;
	}

	.arrow:before {
		width: 8px;
		height: 8px;
		background-color: var(--black);
		border-radius: 100%;
	}

	.arrow:after {
		width: 24px;
		height: 16px;
		margin-left: 8px;
	}
}



/* Year information */
.year {
	right: var(--padx);
	bottom: var(--pady);
}


/* Background flare */
.flares {
	@include mixins.make-it-full-size;
	@include mixins.position;

	img {
		height: 75vh;
	}
}


/* Detail page common style */
.detail picture {
	box-shadow: -5px 15px 40px rgba(0, 0, 0, 0.25);

	&.logo {
		box-shadow: none;
	}

	&,
	img {
		border-radius: 6px;
	}

	@media (prefers-color-scheme: dark) {
		box-shadow: none;
	}
}

/* Style text on the left and image spread like fan */

%style-spread {
	flex-direction: column;
	padding: calc(2 * var(--padxl)) var(--padxl);

	.text {
		margin-bottom: var(--padl);
		max-width: 400px;
	}
}

.style-spread {
	@extend %style-spread;

	@media (min-width: mixins.$screen-verysmall) {
		justify-content: center;
		padding: 100px 30px;
		flex: 1;
	}

	.thumbs {
		height: var(--pic-h);
	}

	picture {
		top: 0;
		width: var(--pic-w);
		transform-origin: bottom center;

		&.pic-4 {
			left: 50%;
			margin: 10px 0 0;
			transform: translate3d(-35%, 0, 0) rotate(5deg);
		}

		&.pic-5 {
			right: 50%;
			margin: 40px 0 0;
			transform: translate3d(35%, 0, 0) rotate(-5deg);
		}

		@media (min-width: mixins.$screen-verysmall) {
			&:nth-child(1) {
				transform: translate3d(-20%, 0, 0) rotate(7.5deg);
			}

			&:nth-child(2) {
				transform: translate3d(20%, 0, 0) rotate(-7.5deg);
			}
		}
	}
}

.style-spread--big {
	@extend .style-spread;

	picture {
		transform-origin: bottom center;
		width: calc(1.25 * var(--pic-w));

		@media (min-width: mixins.$screen-verysmall) {
			width: calc(2 * var(--pic-w));
		}
	}

	.wide {
		picture {
			@media (min-width: mixins.$screen-verysmall) {
				width: calc(1.5 * var(--pic-w));
			}
		}
	}
}

.no-js .style-spread--big {
	picture {
		&.pic-1 {
			transform: translate(-50%, 0) rotate(0deg);
		}

		&.pic-2 {
			transform: translate(-5%, 10%) rotate(-12.5deg);
		}

		&.pic-3 {
			transform: translate(-45%, 10%) rotate(12.5deg);
		}
	}
}

/* Style spread left */
.style-spread--left {
	@extend %style-spread;
	flex-direction: column-reverse;

	.text,
	.thumbs {
		width: calc((37.5vw * 2) + var(--padx));
		max-width: none;
	}

	.thumbs {
		margin: 0 0 -10vh;
		align-self: center;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;

		picture {
			width: 37.5vw;

			&:last-child {
				margin-top: var(--padl);
			}
		}
	}
}

.style-plain {
	height: auto;
}

.style-plain-sticky {
	.middle {
		gap: var(--padxl);
		align-self: center;
		height: auto;

		@media screen and (min-height: mixins.$screen-small) {
			gap: var(--padl);
		}
	}

	.thumbs {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 0;
		margin: 0 calc(-1 * var(--padx));
		position: relative;

		picture {
			position: absolute;
			width: 100%;
			height: auto;
			flex: 100%;
			transform-origin: center;

			@for $i from 1 through 5 {
				&.pic-1-#{$i} {
					transform: translate(calc(($i - 1) * 10%), calc(($i - 1) * 20%));
					z-index: 5 - $i;
				}
			}

			&.pic-1-1 {
				position: relative;
			}
		}

	}
}

.style-plain-single {
	flex-direction: column;
}

.style-plain-scroll {
	gap: var(--padxl);
	flex-direction: column;

	.scroll {
		width: 100%;
	}

	.thumbs {
		gap: var(--padx);
	}

	picture {
		width: var(--pic-w);
		height: auto;
	}
}

/* Style text on the and Images in the bottom */
.style-top {
	padding: calc(6 * var(--pady)) var(--padx);
	justify-content: flex-start;

	@media screen and (min-height: mixins.$screen-medium) {
		justify-content: center;
	}

	.text {
		justify-content: flex-end;
		max-width: 400px;
		margin-bottom: 60px;
	}

	h2 {
		max-width: 315px;
	}


	.thumbs {
		height: calc(var(--pic-h) + (var(--pic-m) * 3));
	}

	picture {
		margin: 0 var(--pic-m);

		&:nth-child(2n+1) {
			margin-top: calc(var(--pic-m) * 3);
		}
	}
}

.style-top--auto {
	@extend .style-top;

	.thumbs {
		height: 40vw;
		padding-bottom: calc(var(--pic-m) * 3);
	}

	.wide {
		.thumbs {
			width: 50vw;
		}
	}
}

.style-top--left {
	align-items: center;
	gap: calc(var(--pady) * 1.5);
	padding: calc(var(--pady) * 2) var(--padx) var(--pady);

	@media (min-width: mixins.$screen-small) {
		gap: calc(var(--pady) * 2);
		padding: calc(var(--pady) * 3) calc(var(--padx) * 3);
	}

	@media (min-width: mixins.$screen-medium) {
		gap: var(--padxxl);
		padding: calc(var(--padxxl) * 2);
	}

	.text,
	.style-column {
		@media (min-width: mixins.$screen-small) {
			max-width: 450px;
		}
	}

	.style-column {
		flex-direction: column;
		gap: calc(var(--pady) * 1.5);

		@media (min-width: mixins.$screen-small) {
			gap: calc(var(--pady) * 2);
		}

		.meta {
			width: initial;
			height: initial;

			img {
				max-width: 35%;
			}
		}

		.style-row {
			width: initial;
			gap: calc(var(--pady) * .5);
		}
	}
}

.style-top--static {
	@extend .style-top;
	gap: var(--padxxl);
}

.style-top--static-auto {
	@extend .style-top;
	gap: var(--padxxl);

	.logos {
		.grid {
			grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));

			@media (min-width: mixins.$screen-medium) {
				grid-template-columns: repeat(auto-fit, minmax(178px, 1fr));
			}
		}
	}
}

.style-top--static-auto-height {
	@extend .style-top--static-auto;
}

/* Style text on top without image */
.style-top--text {
	.text {
		width: 100%;
		max-width: 400px;
		padding: 0;
		flex-flow: column nowrap;
	}

	h2 {
		margin-bottom: 30px;
		width: auto;
	}
}

/* Style text on top without image */
.style-trunc {
	padding: calc(2 * var(--padxl)) calc(2 * var(--padl)); // bottom 0
	margin-bottom: calc(-1 * var(--padxl));
	min-height: auto;

	.wrap {
		flex-direction: column;
		align-items: flex-start;

		&:before {
			left: -20px;
			width: 20px;
		}

		>a,
		>div,
		>span,
		>section,
		>article {
			margin: 0;
		}

		>.meta {
			margin-left: var(--padm);
		}

	}
}

/* Style with mansonry like layout with text on the right */
.style-masonry {
	padding: 100px 0;

	.thumbs {
		flex-flow: row wrap;
		width: calc((var(--pic-w) * 4) + (var(--pic-m) * 8));
		padding-bottom: calc(var(--pic-m) * 4);
		margin-left: -50vw;
		transform: rotate(-5deg);
	}

	picture,
	.text {
		width: var(--pic-w);
		height: var(--pic-h);
		margin: var(--pic-m);
	}

	.text {
		justify-content: center;
		padding: var(--pic-m);
	}
}

/* Style staggered */
.style-staggered {
	flex-direction: column;
	height: auto;
	gap: calc(2 * var(--pady));
	padding-top: calc(6 * var(--pady));

	.text {
		padding: 0;
	}

	.thumbs {
		width: 110vw;
		height: auto;

		picture {
			flex: 0 0 50vw;
		}
	}
}


/* Style with background image */
.style-background {
	.text {
		width: calc(1.25 * var(--pic-w));
		max-width: 80%;
	}
}

.style-background-basic {
	.text {
		width: 100%;
		max-width: 100%;
	}

	@media screen and (min-width: mixins.$screen-medium) {
		.text {
			width: 35%;
		}
	}
}

/* Style that look like table */
.style-flex {
	padding: 100px 30px;

	.style-column {
		flex-direction: column;
	}
}

.style-row {
	gap: calc(2 * var(--pady));

	@media screen and (min-width: mixins.$screen-verysmall) {
		width: 315px;
	}

	@media screen and (min-width: mixins.$screen-small) {
		width: 515px;
	}
}

.style-column {
	align-items: stretch;
	gap: var(--pady);

	&.big {
		gap: var(--padxxl);

		@media screen and (min-width: mixins.$screen-small) {
			gap: var(--padxl);
		}
	}

	&:last-child {
		margin-bottom: 0;
	}

	.meta {
		width: 114px;
		gap: calc(var(--pady) / 2);

		@media screen and (min-width: mixins.$screen-verysmall) {
			flex: 1;
		}

		@media screen and (min-width: mixins.$screen-small) {
			gap: var(--pady);
		}

		img {
			margin-top: var(--pads);
			max-width: 90%;
			height: auto;
		}
	}

	.text {
		flex: 2;

		small {
			font-size: .75rem;
		}
	}
}



/* Style with angled photo on the bottom */
.style-angled {
	height: auto;
	padding: calc(2 * var(--pady)) calc(4 * var(--padx));
	gap: var(--pady);

	@media screen and (min-width: mixins.$screen-verysmall) {
		padding-top: calc(4 * var(--pady));
		gap: calc(4 * var(--pady));
	}

	.text {
		display: flex;
		flex-flow: column nowrap;
		flex: 1;
		justify-content: flex-end;

		@media screen and (min-width: mixins.$screen-verysmall) {
			width: 50vw;
		}
	}

	.thumbs {
		flex: 2;
		gap: var(--padx);

		@media screen and (min-height: mixins.$screen-small) {
			gap: calc(1.5 * var(--padx));
		}
	}

	picture {
		transform: rotate(-5deg);
	}

	picture,
	picture img {
		width: calc(.65 * var(--pic-w));
		height: auto;
		margin: 0;

		@media screen and (min-height: mixins.$screen-medium) {
			width: calc(1.5 * var(--pic-w));
		}
	}
}

.style-angled-individual {
	@media screen and (min-width: mixins.$screen-small) {
		gap: calc(4 * var(--pady));
	}

	.meta {
		margin-bottom: var(--pads);

		@media screen and (min-width: mixins.$screen-small) {
			margin-bottom: var(--padm);
		}

		ul {
			gap: var(--pads);
		}
	}

}

.style-angled--auto {
	@extend .style-angled;
	padding: calc(2 * var(--pady)) calc(4 * var(--padx)) calc(5 * var(--pady));
}

/* Style with logo on the bottom */
.style-bottom-logo {
	.text {
		max-width: 400px;
		margin-top: 0;
		padding-right: 0;
	}

	.thumbs {
		max-width: 400px;
		margin: 0 0 -5vh;

		ul {
			margin: var(--padxxl) 0 calc(-1 * var(--padxl));
			display: block;

			li {
				margin: 10px 0 0;
				padding-bottom: 0;
				width: 45%;

				&:last-child {
					margin: -160px 0 0 7.5%;
					width: 95%;

					picture {
						width: 100%;
					}
				}
			}
		}
	}
}

/* Style slideshow */
.style-slideshow {
	padding: 0;

	&,
	.thumbs,
	ul li {
		min-height: initial;
		height: auto;
	}

	ul {
		height: 100%; // !important;
	}

	.thumbs {
		padding: calc(2.5 * var(--padxl)) 0 calc((2 * var(--padxl)) + 50px);
		margin-bottom: -50px;
		height: 100%; // !important;
	}

	.before,
	.after {
		top: initial;
		bottom: 0;
	}

	.before {
		left: var(--padx);
	}

	.after {
		left: initial;
		right: var(--padx);
	}

	ul,
	ol {
		li {
			padding: 0 var(--padx);
		}
	}

	picture {
		width: auto;
	}
}

.style-slideshow--small {
	@extend .style-slideshow;

	picture {
		width: calc((100vw - (3 * var(--padx))) / 2);
	}

	li {
		padding: 0 0 0 var(--padx);

		&:last-child {
			padding-right: var(--padx);
		}
	}
}

/* Style with everything in the center */
.style-center {
	padding: var(--pady) 0;

	.text {
		padding: 0;

		.zero {
			li:before {
				margin-bottom: var(--padm);
			}
		}

		.color {
			li {
				flex: 16px !important;
				width: 16px !important;
				height: 16px !important;
			}
		}
	}

	@media (min-width: mixins.$screen-verysmall) {
		padding: calc(4 * var(--pady)) calc(2 * var(--padx));
	}

	.thumbs {
		gap: var(--padm);
	}

	// picture {
	// 	flex: 0 0 65vw;

	// 	&:nth-child(2) {
	// 		flex: 0 0 22vw;
	// 	}

	// 	&:nth-child(3) {
	// 		flex: 0 0 12vw;
	// 	}
	// }
}

.style-center--condensed {
	@extend .style-center;

	.logos {
		padding: 0 var(--pads);

		@media (min-width: mixins.$screen-small) {
			padding: 0 var(--padl);
		}

		@media (min-width: mixins.$screen-medium) {
			padding: 0 var(--padxxl);
		}
	}

	.grid {
		grid-row-gap: var(--pads);
		grid-column-gap: var(--pads);
		grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));

		@media (min-width: mixins.$screen-small) {
			grid-row-gap: var(--padl);
			grid-column-gap: var(--padl);
			grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
		}

		@media (min-width: mixins.$screen-medium) {
			grid-row-gap: var(--padxl);
			grid-column-gap: var(--padxxl);
			grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
		}
	}
}

.style-center--small {
	@extend .style-center;
}

/* Style 3D thumbs */
.style-3d {
	flex-direction: column;

	.text {
		padding-top: var(--padm);
	}

	.thumbs {
		width: 70vw;
		height: 50vh;
		perspective: 1000px;

		div {
			width: 100%;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			right: 0;
			transform: perspective(600px);

			&:nth-child(1) {
				transform: translateX(-75%) translateY(-30%) rotateY(20deg);
			}

			&:nth-child(2) {
				transform: translateX(-50%) translateY(-50%) rotateY(20deg);
			}

			&:nth-child(3) {
				transform: translateX(-25%) translateY(-70%) rotateY(20deg);
			}
		}
	}

	br[hidden] {
		display: none;
	}

	@media screen and (min-width: mixins.$screen-verysmall) {
		br[hidden] {
			display: block;
		}
	}
}


/* BKPM Page */
.bkpm {
	.style-top {
		.meta {
			justify-content: flex-start;
			gap: var(--padxl);

			div,
			li {
				display: flex;
				gap: 4px;
				line-height: 100%;
			}

			div img,
			li span {
				width: 24px;
				height: 24px;
				margin: 0;
			}
		}
	}

	.style-top--coverflow {
		.thumbs {
			height: 40vw;
		}
	}

	.style-center {
		padding: calc(6 * var(--pady)) var(--padx);

		.text {
			padding: 0 var(--padx);
		}

		.zero {
			li {
				padding-left: var(--padxxl);

				&::before {
					position: absolute;
					left: 0;
					top: 0;
					width: var(--padxxl);
				}
			}
		}

		.thumbs {
			height: 40vw;
		}

		picture {
			&:nth-child(2) {
				height: 85%;
			}

			&:nth-child(3) {
				height: 70%;
			}
		}
	}

	.style-center--small {
		.text {
			padding: 0 var(--padx);
		}

		.thumbs {
			height: 45vw;
			margin: 30vw 0;
		}

		picture {
			order: initial;
			margin: -30vw -35vw 0;

			&:nth-child(2) {
				margin-top: 0;
				height: 100%;
			}

			&:nth-child(3) {
				margin-top: 30vw;
				height: 100%;
			}
		}
	}

	.style-background {
		.text {
			padding: var(--padxl) var(--padl);
		}

		.thumbs {
			img {
				top: 70%;
				left: 205%;
				height: 170vh;
			}
		}
	}
}

/* Me page */

.me {

	h2,
	h3 {
		font-size: 3rem;
		letter-spacing: -.2rem;
		padding: var(--padm) 0 calc(1.5 * var(--padm));
	}

	.text {
		padding: 0 var(--padx);
	}

	.textoverlay {
		padding: 0;
	}

	@media screen and (min-width: mixins.$screen-verysmall) {

		h2,
		h3 {
			font-size: 12vw;
			letter-spacing: -.75vw;
		}

		.text {
			padding: 0 calc(2 * var(--padx));
		}
	}
}

.intro {
	p {
		font-size: 1rem;
	}

	.arrow-big {
		display: none;
	}
}

#now {
	.thumbs picture {
		opacity: .24;
	}
}

#usedto {
	.anim {
		width: calc(100vw - (2 * var(--padx)));
		height: calc(100vw - (2 * var(--padx)));
	}

	h2 {
		font-size: 12vw;
		letter-spacing: -.1rem;
		padding-bottom: var(--padm);
	}

	p {
		font-size: 4vw;
		letter-spacing: .024rem;
		padding: 0 var(--padm);
	}
}

#webdesigner {
	p {
		max-width: 400px;
	}
}

#sayhi {
	.text {
		text-align: left;
	}

	p {
		max-width: 250px;
	}
}

#post {
	margin-bottom: var(--padl);

	a {
		font-size: .8rem;
	}

	p {
		max-width: 200px;
	}
}

/* Musiku page */

.musiku {
	.style-row {
		width: 100%;
	}

	.style-column {
		.meta {
			.logo {
				width: 30vw;
				max-height: initial;

				@media screen and (min-width: mixins.$screen-small) {
					width: 20vw;
				}
			}

			picture {
				width: 50vw;

				@media screen and (min-width: mixins.$screen-small) {
					width: 30vw;
				}
			}
		}
	}
}


/* Mr. Goat */

#mrgoat h2 b {
	display: block;
}

.mrgoat {
	h2 {
		line-height: 80%;
		font-size: 3.5rem;
		margin: 0;
		padding: 0;

		@media screen and (min-width: mixins.$screen-small) {
			font-size: 5rem;
			max-width: 400px;
		}
	}

	picture,
	picture img {
		width: 400px;
		max-width: 65vw;
		height: auto;
	}

	.thumbs {
		padding-top: calc(4 * var(--pady));
		padding-bottom: 35vh;
		justify-content: flex-end;
	}

	.text {
		padding-top: 65vh;
		padding-bottom: calc(4 * var(--pady));
	}

	.arrow {
		order: 3;
		flex: 0;
	}
}

.float {
	p {
		font-size: .9rem;
	}
}

@media screen and (min-height: mixins.$screen-abitwide) {
	.cofound {
		padding: 15vh var(--padx);
	}
}

/* Footer links in every detail page */
.links {
	padding: calc(4 * var(--pady)) calc(2 * var(--padx)) calc(6 * var(--pady));

	div {
		display: block;

		&:before {
			border-width: 1px;
			top: calc(var(--pads) + 5px);
			transform: none;
		}
	}

	a {
		display: inline-block;
		margin-top: var(--pads);

		&:first-child {
			display: block;
		}

		&:last-child:after {
			display: none;
		}
	}
}


/* List style with zero leading decimal */
.zero {
	flex-direction: column;

	li {
		flex-direction: row;
		margin: 0 0 var(--padm) 0;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			margin: calc(var(--pads) / 2) var(--padm) 0 0;
			min-width: var(--padxl);
			font-size: 1.8rem;
			font-weight: 500;
		}
	}
}

.detail {
	.color {
		ul {
			gap: var(--padx);
			flex-flow: row wrap;
			align-items: center;
		}

		li {
			width: 16px;
			height: 16px;
			font-size: .75rem;

			&:last-child {
				flex: 100px;
				height: initial;
			}
		}
	}

	.bland {
		margin: -5px 0;

		li {
			width: 56.5px;
			height: 16px;
			margin: 5px 0;
			border-radius: 0 0 100px;
		}
	}
}

.sagara {
	.style-background--parallax {
		.logos {
			img {
				max-width: 25vw;
				height: auto;
			}
		}
	}

	.style-top--static-auto {
		gap: 0;
		justify-content: space-between;

		.text {
			margin-bottom: 0;
		}
	}
}


/* Say Hi page */

.hi {
	.main-text {
		margin: 0;
		padding: 0;
	}

	h1 {
		display: flex;
		flex-flow: column;

		a {
			display: flex;
			flex-flow: row;
			flex-wrap: nowrap;
			padding: var(--pads) 0;
		}
	}
}

/* support */
.support {
	.content {
		flex-direction: column;
		align-items: flex-start;
	}
}