@charset "utf-8";

@use '../mixins.scss';

// Grid column size

.plurk {
	#statistics {
		display: grid;
		gap: var(--padl);
		grid-template-columns: repeat(2, 1fr);

		@media (min-width: mixins.$screen-small) {
			grid-template-columns: repeat(12, 1fr);
		}

		@media (min-width: mixins.$screen-abitwide) {
			grid-template-columns: repeat(24, 1fr);
		}

		@media (min-width: mixins.$screen-verywide) {
			grid-template-columns: repeat(20, 1fr);
		}
	}

	.statistics {
		&-title {
			grid-column: span 2;

			@media (min-width: mixins.$screen-small) {
				grid-column: span 12;
			}

			@media (min-width: mixins.$screen-abitwide) {
				grid-column: span 24;
			}

			@media (min-width: mixins.$screen-verywide) {
				grid-column: span 20;
			}
		}

		&-wrap {
			grid-column: span 2;

			@media (min-width: mixins.$screen-small) {
				grid-column: span 6;
			}

			@media (min-width: mixins.$screen-abitwide) {
				grid-column: span 8;
			}

			@media (min-width: mixins.$screen-verywide) {
				grid-column: span 5;
			}
		}

		&.span1 {
			grid-column: span 2;

			@media (min-width: mixins.$screen-tiny) {
				grid-column: span 1;
			}

			@media (min-width: mixins.$screen-small) {
				grid-column: span 4;
			}

			@media (min-width: mixins.$screen-abitwide) {
				grid-column: span 6;
			}

			@media (min-width: mixins.$screen-verywide) {
				grid-column: span 4;
			}
		}

		&.span2 {
			grid-column: span 2;

			@media (min-width: mixins.$screen-small) {
				grid-column: span 12;
			}

			@media (min-width: mixins.$screen-abitwide) {
				grid-column: span 16;
			}

			@media (min-width: mixins.$screen-verywide) {
				grid-column: span 10;
			}
		}

		&.span3 {
			grid-column: span 2;

			@media (min-width: mixins.$screen-small) {
				grid-column: span 12;
			}

			@media (min-width: mixins.$screen-abitwide) {
				grid-column: span 24;
			}

			@media (min-width: mixins.$screen-verywide) {
				grid-column: span 15;
			}
		}
	}

	#backtotop {
		grid-column: span 2;

		@media (min-width: mixins.$screen-small) {
			grid-column: span 12;
		}

		@media (min-width: mixins.$screen-abitwide) {
			grid-column: span 24;
		}

		@media (min-width: mixins.$screen-verywide) {
			grid-column: span 20;
		}
	}
}