@charset "utf-8";

@use '../mixins.scss';
@use './credits.scss';
@use './permission.scss';
@use './hello.scss';
@use './footer.scss';
@use './backtotop.scss';
@use './column.scss';
@use './order.scss';

:root {
	--box: 50vmax;

	@media screen and (min-aspect-ratio: 1/1) {
		--box: 40vmax;

		@media (min-width: mixins.$screen-small) {
			--box: 38.5vmax;
		}

		@media (min-width: mixins.$screen-abitwide) {
			--box: 30vmax;
		}

		@media (min-width: mixins.$screen-wide) {
			--box: 27.5vmax;
		}

		@media (min-width: mixins.$screen-verywide) {
			--box: 20vmax;
		}
	}
}

// Plurk Statistics
.plurk {

	sub,
	sup {
		font-size: inherit;
		font-weight: 700;
		top: initial;
		bottom: initial;
		line-height: 100%;
	}

	img {
		border-radius: 4px;
	}

	// Plurk - First section
	.first {
		text-align: center;
		background-color: var(--lime);
		transition: background-color .5s ease;

		h1 {
			margin: var(--padl) 0 var(--padm) 0;
		}
	}

	.bgtext {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 70vw;
		letter-spacing: -10vw;
		color: var(--yellow);
		pointer-events: none;
		transform: translate(0, 0);

		sup,
		sub {
			transition: color .5s ease;
		}

		sup {
			margin: -30vh 0 0 -10vw;
		}

		sub {
			margin: 30vh 0 0 0;
		}
	}

	.links {
		.icon {
			background-color: red;
		}
	}

	.grant {
		&.middle {
			position: relative;
			z-index: 3;
		}
	}

	// Plurk - Statistics
	#statistics {
		position: relative;
		z-index: 3;
		height: initial;
		padding: var(--pady) var(--padl);
		background-color: var(--white);
		transition: background-color .5s ease;
		scroll-snap-align: end;
	}

	// Start .statistics
	.statistics {
		position: relative;
		display: flex;
		padding: calc(2.5 * var(--padl)) 0 calc(5 * var(--padl));
		width: initial;
		height: initial;
		min-height: initial;
		transition: background-color .5s ease;

		p {
			.text {
				line-height: 165%;
			}
		}

		i {
			display: inline-block;
			padding: 2px 8px;
			margin: 2px 0;
			color: var(--black);
			font-size: inherit;
			font-style: normal;
			white-space: nowrap;
			background-color: var(--white);
			border-radius: 6px;
			transition: background-color .5s ease;

			img {
				margin-top: -4px;
				height: 1rem;
				width: 1rem;
				border-radius: 0;
			}
		}

		img {
			display: inline-block;
			width: auto;
			height: auto;
		}

		// Chart user list
		// Chart hashtag list
		// Chain link link
		.chart a,
		.html a,
		.content a.link {
			padding: 0 var(--pads);
			margin: 0 calc(-1 * var(--pads));
			border-radius: var(--pads);
			transition: background-color .12s ease-in-out;
		}

		.chart a,
		.html a {
			padding: var(--pads);
		}

		.chart a:hover,
		.html a:hover,
		.content a.link:hover {
			background-color: var(--black-25);
		}

		.content {
			z-index: 2;
			opacity: 0;
			width: 100%;
			height: 100%;
			padding: var(--padl);
			background-color: var(--lime);
			border-radius: var(--padl);
			cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>📷</text></svg>") 16 16, pointer;

			@media (min-width: mixins.$screen-small) {
				padding: calc(var(--padm) * 2);
				border-radius: calc(var(--padm) * 2);
			}

			@media (min-width: mixins.$screen-abitwide) {
				padding: var(--padl);
				border-radius: calc(2/3 * var(--padl));
			}

			&.wait {
				cursor: wait;
			}

			p,
			a,
			span {
				color: var(--white);
				opacity: 1;
			}

			>p,
			>a,
			>div {
				position: relative;
				display: flex;
				flex-flow: column;
				justify-content: flex-end;
				opacity: 1;
				height: 100%;
			}

			span small {
				margin-top: var(--pads);
				letter-spacing: .05rem;
				line-height: 135%;
				opacity: .75;
			}

			.big {
				font-weight: 600;
				line-height: 100%;
				color: var(--white);
				display: block;
				margin-bottom: auto;
			}

			// Count number badge yellow
			.count {
				--size: 24px;

				padding: 0 var(--pads);
				min-width: var(--size);
				height: var(--size);
				line-height: var(--size);
				color: var(--black);
				background-color: var(--yellow);
				text-align: center;
				font-size: .7rem;
				font-weight: 600;
				border-radius: var(--size);
				transition: background-color .5s ease;
			}
		}

		.chart {
			flex: 1;
			margin-bottom: var(--padl);
		}

		.title {
			font-size: .8rem;
			line-height: 120%;
			color: var(--white);

			strong {
				font-weight: 500;
				display: block;
				text-transform: initial;
				color: var(--white);
				letter-spacing: .05rem;
				opacity: .75;
				padding: 2px 0 0;
			}
		}

		.graph {
			flex: 1;
			display: flex;
			flex-flow: column;
			justify-content: flex-end;
			align-self: center;
			background-color: var(--white);
			margin-bottom: var(--padm);
			border-radius: 10000px;
			width: var(--padxxl);
			overflow: hidden;
			transition: background-color .5s ease;

			i {
				background-color: var(--yellow);
				border-radius: 0;
				height: 100%;
				transition: background-color .5s ease;
			}
		}

		.link {
			position: absolute;
			display: block;
			top: 0;
			right: 0;
			padding: 0;
			text-transform: uppercase;

			svg {
				fill: var(--white);
				transition: fill .5s ease;
			}
		}

		.plurkers {
			display: flex;
			justify-content: space-around;
			flex: 1;

			.name {
				margin-right: auto;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.avatar img {
				height: 24px;
				margin-right: var(--pads);
			}
		}

		.post {
			i {
				background-color: transparent;
				display: inline;
				font-style: italic;
				padding: 0;
				color: inherit;
			}

			div.meta {
				border-top: 1px dashed var(--white);
				display: flex;
				align-items: center;
				margin-top: var(--pads);
				padding-top: var(--padm);

				span {
					display: block;
					margin-right: var(--padl);
				}

				.link {
					position: relative;
					margin-left: auto;

					img {
						display: block;
					}
				}

				>span {
					display: flex;
					align-items: center;
					gap: 4px;

					img {
						display: block;
						width: 1rem;
						height: 1rem;
					}
				}
			}
		}

		.box {
			.post {

				br,
				.pictureservices {
					display: none;
				}
			}
		}

		&.users {
			img {
				height: 64px;
				border-radius: 10000px;
			}

			.title {
				color: var(--white);
				display: inline;
				font-size: 1rem;
				text-transform: none;
				letter-spacing: .02em;
				text-align: left;
				margin-top: auto;

				img {
					display: inline-block;
					border-radius: 0;
					width: auto;
					height: 1rem;
				}
			}

			.html {
				display: flex;
				flex-direction: column;
				flex: 1;
				justify-content: space-evenly;
				margin-bottom: var(--padm);
			}
		}

		&.userlist {
			.html {
				a {
					display: flex;
					flex: 0;
					align-items: center;
				}
			}
		}

		&.replurkbadges {
			&.description {
				padding-top: var(--padxxl);

				.body {
					padding: var(--padl);
					margin: 0 auto;
					max-width: 800px;
					background-color: var(--black-15);
					opacity: .75;
					border-radius: var(--padm);
				}

				h4 {
					font-size: 1.2rem;
					line-height: 140%;
				}

				p,
				li {
					color: var(--black);
					font-size: .9rem;
					line-height: 140%;
					letter-spacing: .02em;
					opacity: .8;

					img {
						display: inline-block;
						width: 1rem;
					}
				}

				li {
					margin: 0 0 var(--pads);
					margin-left: var(--padm);
				}

				ol,
				ul {
					columns: 1;
					padding: 0;
					margin: var(--pads) 0 0;

					@media (min-width: 400px) {
						columns: 2;
					}
				}
			}
		}

		&-title,
		&-wrap {
			padding: 0;
			margin: 0;
		}

		&-title,
		&-loading i {
			display: flex;
			line-height: 140%;
			font-size: .6rem;
			letter-spacing: .1rem;
		}

		&-title {
			position: relative;
			display: block;
			height: auto;
			align-items: baseline;
			font-size: 2rem;
			color: var(--black);
			padding-top: var(--padl);
			scroll-snap-align: none;

			h3 {
				display: flex;
				flex-flow: row;
				align-items: center;
			}

			span {
				display: flex;
				align-items: flex-start;
			}

			.line {
				flex: 1;
				height: 1px;
				margin-left: var(--pads);
				overflow: hidden;
				background-color: transparent;
				border-radius: 1px;

				i {
					opacity: .5;
					display: flex;
					width: 100%;
					height: 100%;
					background-color: var(--black-25);
					border-radius: 1px;
					transition: background-color .5s ease;
				}
			}
		}

		&-wrap {
			padding: 0;
			height: calc(3/2 * var(--box));
			transition: background-color .5s ease;
			scroll-snap-align: center;

		}

		&-loading {

			&,
			.big {
				color: var(--white);
			}

			.big {
				font-size: 4.5rem;
			}

			i.month {
				display: table;
				margin-bottom: var(--pads);
			}

			i {
				text-transform: uppercase;
			}
		}
	}

	// Spacer
	#spacer {
		pointer-events: none;
	}

	// Gird
	.grid {
		.html {
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin: auto calc(-1 * var(--padm));

			@media (min-width: mixins.$screen-verysmall) {
				& {
					margin: auto calc(-.75 * var(--padm));
				}
			}

			div {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0;
				margin: var(--padm);
			}

			img {
				flex: 0;
			}

			.count {
				position: absolute;
				top: 0;
				right: 0;
				transform: translate(75%, -75%);
				color: var(--black);
			}
		}

		&.emoticons .html div:nth-child(10) {
			display: none;

			@media (min-width: mixins.$screen-small) {
				& {
					display: flex;
				}
			}
		}

		.content .title {
			text-transform: none;

			i {
				text-transform: uppercase;
			}
		}
	}

	// Plurk - Statistics - Spesific Style
	.postcontent {
		img {
			width: auto;
			max-width: 64px;
			margin-right: 4px;
		}

		.title {
			font-size: .6rem;
			display: flex;
			align-items: center;
			margin-top: var(--padm);
			line-height: initial;
		}

		.title i {
			margin-right: auto;
			text-transform: uppercase;
		}

		.emoticon_my {
			max-width: initial;
		}

		.post {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}

	.chart {
		position: relative;

		a {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			margin: auto 0;
			white-space: nowrap;
			display: flex;
			flex-flow: row;
			transform: translate(0, -50%);
		}
	}

	// Center style
	.statistics.center,
	.statistics.badges {
		text-align: center;

		.big {
			display: block;
			margin: var(--padl) auto auto;
			text-align: center;
			line-height: 100%;
		}

		.text {
			text-align: center;
		}
	}

	// Badges
	.statistics.badges {
		.big {
			padding: 0 var(--padm) calc(3/4 * var(--padxl));
			width: calc(1/2 * var(--box));
			height: calc(4/7 * var(--box));
			line-height: calc(4/7 * var(--box));
			color: var(--black);
			font-size: 5rem;
			letter-spacing: -.25rem;
			background-color: var(--yellow);
			border-radius: var(--padl) var(--padl) 100% 100%;
			transition: transform .5s ease-in-out;
			transform-style: preserve-3d;

			img {
				display: inline-block;
				width: 75%;
				aspect-ratio: 1;
			}
		}

		&:hover .big {
			transition: transform .75s ease-in-out;
			transform: rotateY(360deg);
		}


		&.badgesmall {
			height: auto;
			aspect-ratio: 1/1.25;

			p {
				justify-content: space-evenly;
			}

			.text {
				line-height: 130%;

				img {
					display: inline;
					max-width: 1.25rem;
					max-height: 1.25rem;
					margin-top: -.5rem;
				}
			}

			.content {
				padding: var(--padm);

				@media (min-width: mixins.$screen-abitwide) {
					padding: var(--padl);
				}
			}

			.big {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 0;
				margin: 0;
				padding: 0;
				width: 100%;
				height: initial;
				background-color: transparent;
				border-radius: 0;

				img {
					display: block;
					filter: drop-shadow(rgba(0, 0, 0, .24) 4px 4px 16px);
				}
			}

			:hover .big {
				transform: none;
			}
		}

		&.nobackground {
			cursor: pointer;
			pointer-events: none;
			user-select: none;

			.text {
				font-size: .8rem;
				line-height: 130%;
				color: var(--black-50);
			}

			.content {
				background-image: none !important;
				background-color: var(--black-15) !important;
				border: 1px dashed var(--black-50);
			}

			.big {
				img {
					width: 35%;
					filter: none;
				}
			}
		}
	}

	// Hashtag style
	.statistics.hashtags {
		.html {
			display: flex;
			flex-direction: column;
			flex: 1;
			justify-content: space-between;
			padding-bottom: var(--padm);

			>div {
				display: flex;
				flex-direction: row;
				margin: 0;
				border-bottom: 1px dashed var(--white);
			}

			>div:last-child {
				margin-bottom: auto;
				border-bottom: 0;
			}

			strong {
				display: block;
				text-align: center;
				margin: 0 auto auto;
				font-size: var(--padl);
				width: var(--padxl);
				height: var(--padxl);
				line-height: var(--padxl);
				color: transparent;
				font-weight: 300;
				border-radius: 1000px;
				background-color: var(--white);
				transition: box-shadow .24s ease-out;
			}

			a {
				flex: 1;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				transition: background-color .24s ease-in-out, color .24s ease-in-out;

				&:hover+.count {
					background-color: var(--lime);
				}
			}

			.count {
				display: inline-block;
				background-color: var(--yellow);
				color: var(--black);
				padding: 0 var(--pads);
				border-radius: 10000px;
				font-size: .7rem;
				transition: color .2s ease-in-out, background-color .2s ease-in-out;
			}
		}

		.title i {
			text-transform: uppercase;
		}
	}

	// Bubble style
	.statistics.bubble {
		.count {
			display: none;
		}

		.html {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: center;
			margin: auto 0;
		}

		.html .plurkers {
			display: flex;
			flex-direction: column;
			margin: auto 0 var(--pads);
		}

		.plurkers {
			&:nth-child(1) {
				order: 3
			}

			&:nth-child(2) {
				order: 2
			}

			&:nth-child(3) {
				order: 3
			}

			&:nth-child(4) {
				order: 4
			}

			&:nth-child(5) {
				order: 1
			}

			span {
				width: 100%;
				text-align: center;
			}

			.avatar {
				margin-bottom: var(--pads);

				img {
					width: 6vmin;
					height: auto;
					border-radius: 100%;
				}
			}

			&:nth-child(1) .avatar img {
				width: 12vmin
			}

			&:nth-child(2) .avatar img {
				width: 10.5vmin
			}

			&:nth-child(3) .avatar img {
				width: 9vmin
			}

			&:nth-child(4) .avatar img {
				width: 7.5vmin
			}
		}

		.title {
			color: var(--white);
			text-transform: none;
			font-size: 1rem;
		}
	}

	// Listing attach style
	.statistics.attach {
		.title i {
			text-transform: uppercase;
		}
	}

	// Responsed style
	.statistics.responded {
		.big {
			display: none;
		}

		.text {
			margin: auto var(--padxl);
			text-align: center;
			font-size: 1.5rem;
			line-height: 150%;
			letter-spacing: 0;
		}
	}

	// Posted style
	.statistics.posted {
		.text {
			text-align: center;
		}

		.big {
			position: relative;
			z-index: 3;
			padding: 0 calc(3/4 * var(--padxl));
			min-width: calc(var(--box) * .5);
			height: calc(var(--box) * .4);
			line-height: calc(var(--box) * .4);
			font-size: 5rem;
			letter-spacing: -.25rem;
			color: var(--black);
			background-color: var(--yellow);
			border-radius: 10000px;
		}

		.big:before {
			position: absolute;
			content: "";
			bottom: 0;
			right: 0;
			border-left: var(--padm) solid transparent;
			border-right: var(--padm) solid transparent;
			border-top: var(--padxl) solid var(--yellow);
			border-bottom: var(--padxl) solid transparent;
			transform: translate(20%, 50%) rotate(-45deg);

			@media (min-width: mixins.$screen-abitwide) {
				border-left: var(--padm) solid transparent;
				border-right: var(--padm) solid transparent;
				border-top: var(--padl) solid var(--yellow);
				border-bottom: var(--padl) solid transparent;
			}
		}
	}

	// Coins
	.statistics.coins {
		.big {
			background-color: var(--yellow);
			color: var(--black);
			width: calc(var(--box) - (2 * var(--padl)));
			height: calc(var(--box) - (2 * var(--padl)));
			line-height: calc(var(--box) - (2 * var(--padl)));
			border-radius: 100%;
		}
	}

	// MVP
	.statistics.mvp {
		.html {
			.avatar {
				z-index: 1;
				position: relative;
				width: auto;
				margin: 0 auto var(--pads);

				img {
					margin-right: 0;
				}

				.medal {
					display: block;
					position: absolute;
					bottom: calc(-1 * var(--pads));
					right: calc(-1 * var(--pads));
					width: 1.5rem;
					height: 1.5rem;
					padding: 0;

					img {
						display: block;
						width: 100%;
						height: 100%;
					}
				}
			}

			a:nth-child(1) .avatar .medal {
				width: 3rem;
				height: 3rem;
			}

			a:nth-child(2) .avatar .medal {
				width: 2.5rem;
				height: 2.5rem;
			}

			a:nth-child(3) .avatar .medal {
				width: 2rem;
				height: 2rem;
			}
		}
	}

	// Anniversary
	.statistics.anniversary {
		.big {
			display: flex;
			flex-direction: column;
			width: calc(1/2 * var(--box));
			height: calc(4/7 * var(--box));
			background-color: var(--yellow);
			overflow: hidden;
			border-radius: var(--padm);

			strong {
				display: flex;
				flex-direction: row;
				padding: var(--pads) var(--padm);
				font-size: 1rem;
				letter-spacing: .015rem;
				line-height: 100%;
				text-transform: uppercase;
				border-bottom: 1px solid var(--black-25);

				i {
					display: flex;
					padding: 0;
					font-weight: 500;
					background-color: transparent;
					margin: 0 0 0 auto;
					color: var(--black);

					&:first-child {
						margin-left: 0;
					}
				}
			}

			em {
				flex: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				color: var(--black);
				background-color: var(--white);
				font-style: normal;
			}
		}
	}

	// Shared links
	.statistics.previewlinks {
		a {
			display: block;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}

	// Shared pics
	.statistics.previewpics {
		.content {
			overflow: hidden;
		}

		.html {
			position: absolute;
			z-index: 1;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: calc(-1 * var(--padl));
		}

		.title {
			position: relative;
			z-index: 2;
			text-transform: uppercase;
			color: var(--white);
			margin: 0 0 auto;
		}

		.box {
			position: relative;
			display: flex;
			flex-flow: column;
			width: 100%;
			height: 100%;

			.image {
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				background-size: contain;

				&::before {
					position: absolute;
					content: "";
					display: block;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					backdrop-filter: saturate(1.2) blur(10px);
					mask: linear-gradient(black 10%, transparent 20%, transparent 50%, black 60%);
				}
			}

			.post {
				position: relative;
				z-index: 2;
				padding: var(--padxl) var(--padl) var(--padl);
				margin-top: auto;
				color: var(--white);
				line-height: 120%;
				background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5) 75%);
			}
		}

		.post {
			position: relative;

			a {
				color: inherit;
			}

			.text,
			.meta {
				position: relative;
				z-index: 1;
			}

			.ex_link.meta {
				display: inline-block;
				text-overflow: ellipsis;
				white-space: nowrap;
				max-width: 100%;
				overflow: hidden;

				img {
					margin-right: 6px;
				}
			}
		}
	}

	// Shared links
	.statistics.sharedlinks {
		.text {
			height: 100%;
		}

		.title {
			font-size: .9rem;
		}

		.post {
			margin-top: auto;
			line-height: 150%;
			color: var(--white);
			font-size: .75rem;

			br {
				display: inline-block;
			}
		}

		.info a {
			display: inline-block;
			color: inherit;
			padding: 2px 6px;
			background-color: var(--white);
			color: var(--black);
			border-radius: 4px;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 100%;
			overflow: hidden;

			&:hover {
				background-color: var(--yellow);
			}
		}

		div.meta {
			padding-top: var(--pads);
			justify-content: space-between;
		}

		.meta .link,
		.meta span {
			font-size: .65rem;
			margin: 0;
		}
	}
}

// Vertical screen
@media screen and (min-aspect-ratio: 1/1) {
	.statistics {
		.chart {
			margin: var(--padm) 0;

			@media (min-width: mixins.$screen-ultrawide) {
				margin-bottom: var(--padxl);
			}
		}

		&.sharedlinks {
			.post {
				@media (max-width: mixins.$screen-wide) {
					font-size: .65rem;
				}
			}
		}

		&.responded {
			.text {
				@media (min-width: mixins.$screen-wide) {
					font-size: 1.15rem;
					margin: auto;
					line-height: 175%;
				}
			}
		}

		&.postcontent {
			.post {
				line-clamp: 8;

				@media (min-width: mixins.$screen-wide) {
					line-clamp: 6;
				}
			}
		}

		&.mediumnumber,
		&.largenumber {
			.big {
				font-size: 6vw;
			}
		}

		&,
		&.mediumnumber,
		&.largenumber {
			.big {
				font-size: 7vw;
				letter-spacing: -.25vw;
			}

			&.span2 {
				.big {
					@media (min-width: mixins.$screen-wide) {
						font-size: 5vw;
					}
				}
			}
		}

		&.mediumnumber {
			.big {
				@media (min-width: mixins.$screen-wide) {
					font-size: 4vw;
				}
			}
		}

		&.largenumber {
			.big {
				@media (min-width: mixins.$screen-wide) {
					font-size: 3.5vw;
				}
			}
		}

		&.typed {
			.content {
				position: relative;

				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					display: block;
					width: 50%;
					height: 50%;
					background: url(https://api.iconify.design/fluent-emoji/open-book.svg?width=512&height=512&box=1) center center no-repeat;
					background-size: contain;
					transform: translate(-50%, -50%);
				}

				.big,
				.text {
					text-align: center;
				}
			}
		}

		&-wrap {
			@media (max-width: mixins.$screen-wide) {
				height: calc(var(--box) * 1.85);
			}
		}
	}
}

// Horizontal screen
@media screen and (max-aspect-ratio: 1/1) {
	.plurk {
		.bgtext {
			display: flex;
			flex-flow: column;
			font-size: 70vh;
			letter-spacing: -7.5vh;

			sup {
				margin: 0 0 -10vh -30vh;
			}

			sub {
				margin: -10vh -30vh 0 0;
			}
		}

		.statistics {
			.big {
				font-size: 20vw;
				letter-spacing: -.05rem;
			}

			.graph {
				width: 50%;
				margin: 0 auto var(--padm);
			}

			.title {
				margin-top: var(--pads);

				@media (min-width: mixins.$screen-verysmall) {
					margin-top: var(--padm);
				}

				img {
					border-radius: 0;
					width: auto;
					height: 1rem;
				}
			}

			.content {
				.post {
					@media (max-width: mixins.$screen-small) {
						margin-bottom: auto;
					}
				}
			}

			.chart {
				margin: var(--padm) 0 var(--padl);

				@media (min-width: mixins.$screen-tiny) {
					margin: var(--padl) 0 var(--padxl);
				}

				@media (min-width: mixins.$screen-verysmall) {
					margin: var(--padm) 0;
				}

				@media (min-width: mixins.$screen-small) {
					margin: var(--pads) 0;
				}
			}

			.meta {
				span {
					@media (max-width: mixins.$screen-tiny) {
						display: flex;
						margin-right: var(--pads);
					}
				}
			}

			.grid {
				.html div {
					@media (max-width: mixins.$screen-verysmall) {
						margin: calc(var(--pads) * 2/3);
					}
				}
			}

			.emoticons {
				.html div {
					@media (max-width: mixins.$screen-verysmall) {
						margin: var(--padm);
					}
				}
			}

			.bubble {
				.plurkers {
					@media (max-width: mixins.$screen-verysmall) {
						max-width: 30vw;
					}

					@for $i from 1 through 5 {
						&:nth-child(#{$i}) .avatar img {
							@media (max-width: mixins.$screen-verysmall) {
								width: calc((2.25 - (.25 * $i)) * var(--padl))
							}
						}
					}
				}
			}

			&-wrap {
				height: calc(1.35 * var(--box));
				max-height: 500px;

				&.span2 {
					height: calc(1.4 * var(--box));
				}

				&.bubble {
					height: calc(1.5 * var(--box));

					@media (min-width: mixins.$screen-tiny) {
						height: calc(1.4 * var(--box));
					}
				}

				&.hashtags {
					height: calc(1.25 * var(--box));

					@media (min-width: mixins.$screen-small) {
						height: calc(1.35 * var(--box));
					}
				}

				&.mediumnumber {
					height: calc(1.25 * var(--box));
				}


				&.sharedlinks {
					@media (max-width: mixins.$screen-tiny) {
						height: calc(1.5 * var(--box));
					}
				}

				&.span2.emoticons {
					@media (max-width: mixins.$screen-verysmall) {
						height: calc(var(--box) * 1.75);
					}
				}
			}

			&.mediumnumber {
				.big {
					font-size: 14vw;
				}
			}

			&.largenumber {
				.big {
					font-size: 12vw;
				}
			}

			&.coins {
				.big {
					@media (max-width: mixins.$screen-small) {
						width: calc(var(--box) - var(--padxl) * 3);
						height: calc(var(--box) - var(--padxl) * 3);
						line-height: calc(var(--box) - var(--padxl) * 3);
					}
				}
			}

			&.responded {
				.text {
					@media (max-width: mixins.$screen-tiny) {
						margin: auto 0;
					}
				}
			}

			&.postcontent {
				.post {
					line-clamp: 7;
				}
			}

			&.avatar {
				.html {
					@media (max-width: mixins.$screen-verysmall) {
						margin-bottom: var(--padm);
					}
				}
			}

			&.center,
			&.badges {
				.big {
					margin: auto;
				}
			}

			&,
			&.mediumnumber,
			&.largenumber {
				.big {
					@media (min-width: mixins.$screen-small) {
						font-size: 7.5vw;
					}
				}

				&.span2 {
					.big {
						@media (min-width: mixins.$screen-small) {
							font-size: 10vw;
							letter-spacing: -.5vw;
						}
					}
				}
			}

			&.previewpics,
			&.sharedlinks {
				.post {
					@media (max-width: mixins.$screen-small) {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}