@charset "utf-8";

@use '../mixins.scss';

/*  Plurk - Login */
.plurk #permission {
	z-index: 2;
	padding: calc(4.5 * var(--pady)) var(--padx) calc(2 * var(--pady));
	height: auto;
	min-height: 100vh;

	@media (min-width: mixins.$screen-small) {
		padding: calc(2 * var(--pady)) var(--padx) var(--pady);
	}

	form {
		margin: 0;
		padding: var(--padm);
		max-width: 500px;
		background-color: var(--white);
		border-radius: var(--padm);
		overflow: hidden;
		box-shadow: -10px 30px 60px rgba(0, 0, 0, 0.25);
		transition: background-color .5s ease;

		@media (min-width: mixins.$screen-tiny) {
			padding: var(--padl);
		}
	}

	h1 {
		color: var(--red);
		text-align: left;
		padding: 0 0 var(--padm);
		margin: 0;
		font-size: 2.5rem;
		letter-spacing: -.25rem;

		@media (min-width: mixins.$screen-tiny) {
			font-size: 2.75rem;
		}

		@media (min-width: mixins.$screen-verysmall) {
			font-size: 3.5rem;
			letter-spacing: -.35rem;
			line-height: 100%;
		}

		@media (min-width: mixins.$screen-verywide) {
			font-size: 5rem;
			letter-spacing: -.5rem;
		}

		sub,
		sup {
			font-size: 75%;
			top: 0rem;
		}

		sup {
			top: -1rem;
		}
	}

	ol {
		display: flex;
		flex-flow: column;
		z-index: -1;
		text-align: left;
		margin: 0;
		padding: 0;
	}

	li {
		font-size: .9rem;
		line-height: 140%;
		position: relative;
		margin: 0;
		padding: var(--pads) 0 var(--pads) var(--padl);
		list-style: none;
		border-top: 1px dashed var(--gray-light);

		&:before {
			font-size: inherit;
			position: absolute;
			left: 0;
		}

		@for $i from 1 through 4 {
			&:nth-child(#{$i}):before {
				content: "0" + ($i - 1);
			}
		}

		@media (min-width: mixins.$screen-verysmall) {
			padding: var(--padm) 0 var(--padm) var(--padl);
			font-size: 1rem;
			line-height: 150%;
		}

		p {
			font-size: inherit;
		}

		&.small {
			font-size: .6rem;
			line-height: 160%;
			opacity: .8;
			padding-left: 0;
			padding-bottom: 0;

			&:before {
				content: ""
			}

			* {
				font-size: inherit;
			}

			@media (min-width: mixins.$screen-verysmall) {
				font-size: .7rem;
				line-height: 150%;
			}
		}
	}

	p {
		margin: 0 0 var(--pads);

		&:last-child {
			margin: 0;
		}
	}

	a {
		flex: 1;
		color: var(--white);
		margin-top: var(--pads);
		padding: var(--pads) var(--padl);
		text-decoration: none;
		background-color: var(--red);
		border-radius: var(--pads);

		&:hover {
			color: var(--white);
			background-color: var(--black);
		}
	}
}