---
layout: main.liquid
title: oh 🦀, me think you lost! 😢
description: please go back to dwaan.com, not sure why you is here.
namespace: lost
---

<link
  rel="stylesheet"
  media="screen"
  href="/css/404.css">

<section class="middle clip full">
  <div class="thumbs fromtop">
    <img
      id="mrmonkey"
      src="/img/mr.monkey.webp"
      alt="Me are Mr. 🐵" />
  </div>
  <div id="nomokeybusiness" class="text">
    <h1>me here to halp</h1>
    <h4>no 🐵 business, me promise!</h4>
    <p>me dad said he lazy bring old pages, you come here because him, not me.
      <a href="/" class="spring">click here continue</a>
    </p>
  </div>
</section>

<section id="lost">
  <h2>
    <span>
      <i>is you lost?</i>
      <i>is you lost?</i>
      <i>is you lost?</i>
      <i>is you lost?</i>
    </span>
  </h2>
  <h2>
    <span>
      <i>is you lost?</i>
      <i>is you lost?</i>
      <i>is you lost?</i>
      <i>is you lost?</i>
    </span>
  </h2>
  <h2>
    <span>
      <i>is you lost?</i>
      <i>is you lost?</i>
      <i>is you lost?</i>
      <i>is you lost?</i>
    </span>
  </h2>
  <h2>
    <span>
      <i>is you lost?</i>
      <i>is you lost?</i>
      <i>is you lost?</i>
      <i>is you lost?</i>
    </span>
  </h2>
  <h2>
    <span>
      <i>is you lost?</i>
      <i>is you lost?</i>
      <i>is you lost?</i>
      <i>is you lost?</i>
    </span>
  </h2>
</section>