---
layout: detail.liquid
title: Sagara Brand Identity Concept
description: A short study case of a new Brand Identity concept for Sagara.
namespace: detail
class: sagara
time: 43

icon: logo/sagara, 196, 69, 196 69
iconLabel: Sagara's Logo
qr: sagara
year: 2023
type: Brand Identity Concept

date: 2023-10-29
---

<section id="more" class="middle style-background--parallax snap">
  <div class="text">
    <small>When creating a new concept, I tend to take inspiration from nature. Photo by:
      <a href="https://www.pexels.com/photo/a-wave-breaking-at-sunset-with-the-sun-behind-it-28348904/">Kammeran Gonzalez-Keola</a>.</small>
  </div>
  <div class="thumbs">
    <picture>
      <source media="(min-width: 1024px) and (min-device-pixel-ratio: 2)" srcset="/img/sagara/background@2x.webp 2x, /sagara/background@3x.webp 3x">
      <img
        loading="lazy"
        src="/img/sagara/background.webp"
        width=""
        height=""
        alt="Sunrise and Wave - Photo by Kammeran Gonzalez-Keola" />
    </picture>
  </div>
  <div class="logos">
    <img
      src="/img/sagara/wave.svg"
      width="160"
      height="160"
      alt="Sagara's logo, resamble of wave with 3 circular lines" />
  </div>
</section>

<hr/>

<section class="middle style-center--condensed clip">
  <div class="text anim">
    <div class="titles">
      <h4>Sagara</h4>
      <h1>Brand Identity Concept</h1>
    </div>
    <p>As a dynamic IT consulting firm, Sagara has undergone numerous transformations throughout its history. This year, significant changes are imminent, necessitating a rebranding strategy to reflect their evolving identity.</p>
  </div>
  <div class="logos">
    <ul class="flat grid">
      {% for i in (1..10) %}
        <li><img
            src="/img/sagara/logo-{{ i }}.svg"
            width="202"
            height="128"
            alt="Sagara's logo evalution number {{ i }}" /></li>
        {% if i == 8 %}
          <li class="text">
            <h4>The Meaning</h4>
            <small>In Javanese, Sagara means Ocean. Conceptualized using wave as the main logo identity, aiming for a simple yet distinctive logo iconography.</small>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>

<hr/>

<section class="middle style-top--left snap">
  <div class="text">
    <h3>Sagara’s<br/>New Identity</h3>
    <p>When creating a new concept, I tend to take inspiration from nature.</p>
  </div>

  <div class="style-column">
    <div class="style-row">
      <div class="meta">
        <img
          loading="lazy"
          src="/img/sagara/logo-colorful.svg"
          width="161"
          height="57"
          alt="Sagara's Logo" />
      </div>
      <div class="text">
        <small>To finalize the logo, colors and a gradient representing sunlight and sea colors were added. A tail was suggested to add uniqueness to the middle wave.</small>
      </div>
    </div>
    <div class="style-row">
      <div class="meta color">
        <ul class="flat color">
          <li style="background: #004BD0"></li>
          <li style="background: #0057F2"></li>
          <li style="background: #0096E1"></li>
          <li style="background: #2FFF86"></li>
          <li style="background: #FCE300"></li>
          <li></li>
        </ul>
      </div>
      <div class="text">
        <small>The dominant colors are various shades of blue, symbolizing the ocean and sky, while vibrant colors convey freshness and vitality.</small>
      </div>
    </div>
    <div class="style-row">
      <div class="meta">
        <img
          loading="lazy"
          src="/img/sagara/the-wave.svg"
          width="32"
          height="15"
          alt="The Wave" />
      </div>
      <div class="text">
        <small>The wave, a simple yet effective graphic element, provides brand continuity and animates to mimic real wave movement.</small>
      </div>
    </div>
  </div>
</section>

<hr/>
<section class="middle style-top--static snap">
  <div class="thumbs">
    <picture>
      <source media="(min-width: 1024px) and (min-device-pixel-ratio: 2)" srcset="/img/sagara/tote@2x.webp 2x, /img/sagara/tote@3x.webp 3x">
      <img
        loading="lazy"
        src="/img/sagara/tote.webp"
        height="250"
        alt="3 Sagara's Tote bags design - by Dwan" />
    </picture>
  </div>

  <div class="text">
    <h3>Some Implementation</h3>
    <p>The various implementation of the brand identity provide a fun yet very fresh look if Sagara.</p>
  </div>
</section>

<hr/>

<div class="links snap-end">
  <nav>
    <div class="prototype group">
      <a
        href="https://sagara.dwaan.com"
        target="_BLANK"
        class="title">
        <span>visit the prototype</span>
      </a>
      <a href="https://sagara.dwaan.com" target="_BLANK">
        <span>website</span>
      </a>
    </div>
    <div class="continue">
      <a href="/asosiasi-antropologi-indonesia" class="title">
        <span>next case study</span>
      </a>
      <a href="/asosiasi-antropologi-indonesia">
        <span>
          <i>Asosiasi Antropologi Indonesia</i>
        </span>
      </a>
    </div>
  </nav>
</div>