#Options +FollowSymlinks
RewriteEngine On
RewriteBase /
DirectoryIndex index.php

# Redirect index to the root of www
RewriteRule ^(.*)index(.*)$ https://v1.dwaan.com/ [L,R=301]
RewriteRule ^$ https://v1.dwaan.com/ [L,R=301]


# Unless directory, remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/$ https://v1.dwaan.com/$1 [R=301,L]


# Redirect external .php requests to extensionless URL
RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/
RewriteRule ^(.+)\.php$ https://v1.dwaan.com/$1 [R=301,L]

# Resolve .php file for extensionless PHP URLs
RewriteRule ^([^/.]+)$ $1.php [L]

# 404 and 500
ErrorDocument 404 https://v1.dwaan.com/404
ErrorDocument 500 https://v1.dwaan.com/404