@charset "UTF-8";

@use 'mixins';

:root {
	@media screen and (min-width: mixins.$screen-medium) {
		--pic-w: 291px;
		--pic-h: 497px;
		--pic-m: 30px;
	}

	@media screen and (min-width: mixins.$screen-verywide) {
		--pic-w: 436.5px;
		--pic-h: 745.5px;
		--pic-m: 40px;
	}
}


/* Defining the font size based on aspect ratio */
html {
	font-size: 16px;

	@media screen and (min-width: mixins.$screen-medium) {
		font-size: 18px;
	}

	@media screen and (min-width: mixins.$screen-ultrawide) {
		font-size: 20px;
	}
}


/* Default style */
p {
	line-height: 150%;
}

/* Header style */
header {
	left: var(--padx);
	right: var(--padx);
	top: var(--pady);
}

.size,
.lamp,
.menu {
	margin: 0 0 0 var(--padxl);
}


/* Common middle content */

.middle {
	padding: var(--pady) var(--padx);

	&.auto {
		padding: calc(2 * var(--padxl)) var(--padx);
	}
}

/* Homepage content */
.main-text {
	max-width: 800px;
	text-align: center;
	align-items: center;

	@media (min-width: mixins.$screen-wide) {
		max-width: initial;
	}

	h1 {
		margin: 0 var(--padl);

		@media (max-width: mixins.$screen-wide) {
			white-space: normal;
		}
	}
}


/* Homepage footer */
.footer {
	padding: var(--pady) var(--padx);
}


/* Homepage listing item */
.padding {
	padding: 0 60px;

	a,
	span {
		height: 120px;

		@media (min-width: 900px) {
			height: initial;
		}
	}
}

/* Homepage footer */
.footer .email {
	font-size: .8rem;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: var(--gray);
}


/* Arrow links */
%arrow {
	flex-flow: row nowrap;
	position: absolute;
	bottom: calc(var(--pady) - 10px);
	right: var(--padx);
	transform-origin: right top;
}

.arrow-big {
	@extend %arrow;
	position: fixed;

	.arrow {
		bottom: 0;
		right: 0;
	}
}

.no-js .arrow-big {
	position: absolute;
}

.arrow {
	@extend %arrow;
	transform: rotate(90deg);

	&:after {
		margin: 0 0 0 25px;
		width: 100px;
		height: 16px;
	}

	span {
		display: none;

		@media screen and (min-width: 900px) {
			display: block;
		}
	}
}

.arrow-small {
	position: absolute;
	bottom: var(--pady);
	right: var(--padx);

	.arrow {
		position: relative;
		left: 0;
		top: 0;
		bottom: initial;
		right: inherit;
		transform: none;

		&:after {
			width: 50px;
			height: 16px;
			margin-left: 25px;

			@media screen and (min-width: 900px) {
				width: 100px;
			}
		}
	}
}


/* Year information */
.year {
	right: var(--padxxl);
	bottom: var(--pady);
}


/* Background flare */
.flares {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	img {
		width: 100vw;
		height: 50vw;
	}
}


/* Detail page common style */
.detail picture {
	box-shadow: -10px 30px 60px rgba(0, 0, 0, 0.25);

	&,
	img {
		border-radius: 8px;
	}
}

.dark .detail picture {
	box-shadow: none;
}


/* Style text on the left and image spread like fan */
%style-spread {
	flex-direction: row;
	padding: 0 var(--padxl);

	.text {
		width: 360px;
		flex: none;

		@media (min-width: 900px) {
			width: 465px;
		}
	}
}

.style-spread {
	@extend %style-spread;

	.thumbs {
		min-height: var(--pic-h);
		height: 100vh;

		@media (min-width: mixins.$screen-wide) {
			flex: none;
			width: 465px;
		}
	}

	picture {
		width: calc(9/10 * var(--pic-w));
		transform-origin: 0 0;

		&.pic-4 {
			top: 25%;
			left: 50%;
			transform: rotate(-10deg);
		}

		&.pic-5 {
			top: 40%;
			left: 10%;
			transform: rotate(-30deg);
		}

		&,
		img {
			border-radius: 20px;
		}
	}

	@media (min-width: mixins.$screen-wide) {
		padding: 0;
		justify-content: center;
	}
}

/* Style text on the left and image spread like fan */
.style-spread-left {
	@extend %style-spread;

	.text {
		flex: none;
		width: 380px;
		margin-left: 50px;

		@media (min-width: mixins.$screen-wide) {
			margin-left: 100px;
		}
	}

	.thumbs {
		display: flex;
		flex: 0;
		align-self: flex-start;
		margin-top: 125px;
	}

	picture {
		width: 300px;
		transform-origin: 0;
		transform: rotate(-5deg);

		@media (min-width: mixins.$screen-medium) {
			.style-spread-left picture {
				width: 350px;
			}
		}

		@media (min-width: mixins.$screen-abitwide) {
			.style-spread-left picture {
				width: 428px;
			}
		}
	}

}

/* Style that look like table */
.style-flex {
	padding: var(--padxl) var(--padl);
}

/* Style text on top and Images in the bottom */
.style-top {
	padding: 120px 40px;
	overflow: hidden;

	h2 {
		max-width: 468px;
	}

	.text {
		max-width: 732px;
		margin-bottom: var(--padxl);

		@media (min-height: mixins.$screen-small) {
			margin-bottom: calc(2 * var(--padxl));
		}
	}

	picture {
		width: var(--pic-w);
		height: var(--pic-h);
		margin: 0 var(--pic-m);

		&:nth-child(2n) {
			margin-top: calc(var(--pic-m) * 3);
		}
	}

}

/* Style text on top without image */
.style-top-text {
	padding: calc(var(--padxl) * 4) var(--padx) calc(var(--padxl) * 3) !important;

	.text {
		width: 100%;
		flex-flow: row nowrap;

		@media (min-width: 1000px) {
			width: 910px;
		}
	}

	h2 {
		width: 380px;
		margin-right: 60px;
	}

}

/* Style with mansonry like layout with text on the right */
.style-masonry {
	overflow: hidden;

	.thumbs {
		flex-flow: row wrap;
		width: calc((var(--pic-w) * 4) + (var(--pic-m) * 10));
		padding: var(--pic-m);
		padding-bottom: calc(var(--pic-m) * 8);

		&>*:nth-child(2n) {
			transform: translate3d(0, calc(var(--pic-m) * 3), 0);
		}

		@media (min-width: 900px) {
			padding-bottom: calc(var(--pic-m) * 4);
		}

	}

	picture,
	.text {
		width: var(--pic-w);
		height: var(--pic-h);
		margin: var(--pic-m);
	}

	.text {
		padding: var(--pic-m);
	}
}

/* Style that look like table */
.style-row {
	margin: calc(-1 * var(--padl)) 0;

	@media (min-width: mixins.$screen-medium) {
		width: 817px;
	}
}

.style-column {
	margin: var(--padl) 0;

	.meta {
		width: 230px;
		margin-right: 40px !important;

		@media (min-width: 900px) {
			width: 309px;
		}
	}

	.text {
		flex: 1;

		small {
			display: block;
			font-size: .8rem;
			line-height: 150%;
			letter-spacing: 0.05em;
		}

		@media (min-width: mixins.$screen-medium) {
			flex: 1;

			small {
				width: 289px;
			}
		}
	}
}

/* Style with angled photo on the bottom */
.style-angled {
	padding: 120px 0 0;
	overflow: hidden;

	@media (min-width: 1194px) {
		padding: 120px 272px 0;
	}

	.text {
		width: 50%;
		margin-bottom: 100px;

		@media (min-height: mixins.$screen-small) {
			margin-bottom: 180px;
		}

		@media (min-width: mixins.$screen-wide) {
			align-self: flex-start;
			width: 465px;
		}
	}

	.thumbs {
		margin: 0 -(var(--pic-m));
		transform-origin: 50% 0;
		transform: rotate(-5deg);
	}

	picture {
		margin: 0 var(--pic-m);
		width: var(--pic-w);
		height: var(--pic-h);
	}
}

/* Style truncate */
.style-trunc {
	padding: var(--padxxl) 0 0;

	.wrap {
		width: 55vw;
	}

	.color ul {
		margin: 0 !important;
		width: 250px;
		flex-wrap: wrap;
	}

	.color li {
		margin: 0 var(--padm) var(--padm) 0 !important;
	}

	.color ul li:last-child {
		width: auto;
	}

	@media (min-width: 1194px) {
		.color ul {
			flex-wrap: nowrap;
		}
	}

	.wrap:before,
	&+.style-slideshow:before,
	&+.style-slideshow:after {
		position: absolute;
		top: calc(var(--padxxl) + 2.25vh);
		left: 19vw;
		bottom: 0;
		display: block;
		content: "";
		width: 1.5vw;
		height: auto;
		border: 1px solid var(--black);
		border-bottom: 0;
		border-right: 0;
	}

	&+.style-slideshow {

		&:before,
		&:after {
			top: 0;
			border-top: none;
			bottom: 50vh;
		}

		&:after {
			top: 50vh;
			bottom: initial;
			border: none;
			border-radius: 100%;
			width: 10px;
			height: 10px;
			margin: -5px 0 0 -5px;
			background-color: var(--black);
		}
	}
}

/* Footer links in every detail page */
.links {
	padding: calc(2 * var(--padxl)) calc(2 * var(--padxl));

	nav {
		margin: calc(-1 * var(--padm)) 0;
	}

	div {
		margin: var(--padm) 0;
	}

	a {
		&:before {
			display: none;
			margin-left: 0;
		}

		&:first-child:before {
			display: block;
			flex: none;
			width: var(--padx);
			height: var(--padx);
			margin-left: 0;
			margin-right: var(--padxl);
		}

		&:last-child:after {
			flex: none;
			width: 100px;
		}
	}

	.links span {
		margin-right: var(--padl);
	}
}

/* List style with zero leading decimal */
.zero {
	flex-direction: row;

	li {
		margin: 0 var(--padl) 0 0;
		flex-direction: column;

		&:last-child {
			margin-right: 0;
		}

		&:before {
			margin-bottom: var(--padm);
			font-size: 2rem;
			min-height: calc(var(--padm) * 1.5);
		}
	}
}

/* ol/ul for branding color for Suzuki */
.detail {
	.color {
		margin: calc(-1 * var(--padm)) 0;

		ul {
			margin: var(--padm) calc(-1 * var(--padm));
		}

		li {
			width: 32px;
			height: 32px;
			margin: 0 var(--padm);
		}
	}

	.bland {
		margin: -10px 0;

		li {
			width: 113px;
			height: 32px;
			margin: 10px 0;
			border-radius: 0 0 100px;
		}
	}
}


/* Me Page */
.me {

	h2,
	h3 {
		font-size: 4.5rem;
		letter-spacing: -.25rem;
		padding: var(--pads) 0 var(--padm);
	}

	.text {
		padding: 0 calc(2 * var(--padx));
	}
}

.intro .text p {
	font-size: .9rem;
}

#sayhi .title {
	width: 350px;
	transform-origin: 100% 100%;
	transform: translate(0, -350px) rotate(-90deg);
}

#now,
#webdesigner {
	padding-left: calc(2 * var(--padx));

	.text {
		max-width: 640px;
	}
}


#webdesigner p {
	max-width: 450px;
}

#sayhi {
	.text {
		display: flex;
		text-align: left;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-end;
		padding: 0;
	}

	p {
		margin-left: var(--padm);
		max-width: 300px;
	}
}

/* Mr. Goat */

.mrgoat {
	.spin {
		height: 100vh;
	}

	h2 {
		font-size: 5rem;

		@media (min-width: mixins.$screen-wide) {
			font-size: 6rem;
		}
	}

	p {
		font-size: 2rem;
		line-height: 120%;
		max-width: 1000px;
		padding: 0 var(--padx);
	}

	img {
		width: auto;
		height: 400px;
		max-height: 90vh;
	}

	.arrow {
		position: relative;
		top: 0;
		left: 0;
		transform: initial;
	}

	.h2 {
		padding: 0 var(--padx) var(--padm);
		line-height: 80%;
		letter-spacing: -.075em;
	}
}

#viet {
	top: 20vh;
}

#nyc {
	bottom: 20vh;
}

#food {
	top: 30vh;
}

#travel {
	bottom: 30vh;
}

.igstage {
	padding: 10vh 5vh !important;

	.thumbs a {
		flex: 25%;
		width: 25%;
		height: calc(80vh / 3);

		&:after {
			background-size: 100%;
		}
	}
}
