@charset "UTF-8";

@use 'mixins';
@use 'fonts';
@use 'selection';


%transition {
	transition: color .5s ease;
}

%zero-box-will-change {
	@include mixins.zero-box;
	will-change: opacity, transform;
}

%bold-child-initial-transiton {
	font-weight: 700;

	* {
		transition: initial;
	}
}

%gray-color {
	color: var(--black-gray-light);
}

%inline-block {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}


/* Variables */
:root {
	--pic-w: 181px;
	--pic-h: 309px;
	--pic-m: 10px;

	--padx: 20px;
	--pady: 17.5px;

	--pads: 7.5px;
	--padm: 15px;
	--padl: 30px;
	--padxl: 40px;
	--padxxl: 60px;

	--animation: background-color .5s ease, color .25s ease;

	@media screen and (min-width: mixins.$screen-small) {
		--padx: 30px;
		--pady: 25px;

		--pads: 1vh;
		--padm: 2vh;
		--padl: 6vh;
		--padxl: 12.5vh;
		--padxxl: 17.5vh;
	}

	@media screen and (min-width: mixins.$screen-medium) {
		--pic-w: 271.5px;
		--pic-h: 463.5px;
		--pic-m: 20px;

		--padx: 40px;
		--pady: 35px;

		--pads: 10px;
		--padm: 20px;
		--padl: 40px;
		--padxl: 65px;
		--padxxl: 100px;
	}

	/* Color Schemes */

	--black: #222;
	--white: #fff;
	--dark-white: #E8EAEB;
	--yellow: #FFD700;
	--black-75: rgba(0, 0, 0, 0.5);
	--black-50: rgba(0, 0, 0, 0.25);
	--black-25: rgba(0, 0, 0, 0.15);
	--black-15: rgba(0, 0, 0, 0.05);
	--black-gray: #111111;
	--black-gray-light: #131313;
	--gray-light: #C4C4C4;
	--red: #FF0F1E;
	--lime: #60e670;
}


/* Giving persitent size for all tags */
* {
	box-sizing: border-box;
	outline: none;
}


#log {
	@include mixins.block(fixed, 10px, 50%, $zindex: 9999);
	@include mixins.typography($fontsize: .5rem, $color: white);
	padding: 0 16px;
	background-color: black;
	border-radius: 4px;
	transform: translate3d(-50%, 0, 0);
}


/* Defining the font size based on aspect ratio */
html {
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--black);
	background-color: var(--white);
}

body,
html {
	font-family: fonts.$fontname, sans-serif;
	letter-spacing: .065rem;
	font-weight: 500;
}

/* Common styles */

main {
	display: block;
	position: relative;
	opacity: 0;
	overflow: hidden;

	>hr {
		display: none;
	}
}

h1 {
	@extend %zero-box-will-change;
	@extend %transition;
	@extend %bold-child-initial-transiton;
	margin: 0 0 var(--padl) 0;
	@include mixins.typography(5rem, false, 80%, -0.06em);
}

h2 {
	@extend %zero-box-will-change;
	@extend %transition;
	@extend %bold-child-initial-transiton;
	@extend %gray-color;
	margin: 0 0 var(--padl);
	@include mixins.typography(3.2rem, false, 90%, -0.02em);
}

h3 {
	@extend %zero-box-will-change;
	@extend %transition;
	@extend %bold-child-initial-transiton;
	@extend %gray-color;
	margin: 0 0 var(--padm);
	@include mixins.typography(2rem, false, 100%);
}

h4 {
	@extend %zero-box-will-change;
	@extend %transition;
	@extend %bold-child-initial-transiton;
	@extend %gray-color;
	margin: 0 0 var(--padm);
	@include mixins.typography(1.4rem, false, 110%);
}

p {
	@extend %zero-box-will-change;
	@extend %transition;
	@extend %gray-color;
	@include mixins.typography(1rem, 500, 175%, .02em);
	opacity: .8;

	a {
		text-decoration: underline;
	}
}

span {
	@extend %transition;
}

li {
	@extend %transition;
}

a {
	@extend %inline-block;
}

small {
	display: inline-block;
	@include mixins.typography(.8rem, inherit, 12px, .14em);
}

/* Basic HR styling */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid var(--gray-light);
	margin: 1em 0;
	padding: 0;

	&.horizontal {
		height: var(--padxxl);
		border-top: 0;
		border-left: 1px solid var(--gray-light);
	}
}

/*
 Remove the gap between audio, canvas, iframes,
 images, videos and the bottom of their containers:
 https://github.com/h5bp/html5-boilerplate/issues/440
*/
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/* Remove default fieldset styles */
fieldset {
	border: 0;
	@include mixins.zero-box;
}

/* Allow only vertical resizing of textareas. */
textarea {
	resize: vertical;
}

/* make img inside picture tag follow picture size */
img {
	// Do not change to non inline
	// or it will messed up html2canvas rendering
	display: inline-block;

	&.rounded {
		border-radius: var(--pads);
	}
}

picture {
	img {
		display: block;
		width: 100% !important;
		height: auto !important;
	}
}

/* Browser Upgrade Prompt */
.browserupgrade {
	margin: 0.2em 0;
	background: var(--yellow);
	color: var(--black);
	padding: 0.2em 0;
}

.support {
	@include mixins.block-spread(none, fixed, 999999, inherit);
	padding: 40px;
	flex-flow: row;
	align-items: center;
	justify-content: center;

	.content {
		position: relative;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
	}
}

/* Screen width is too small to be usable */
@media (max-width: 300px) {

	header,
	main,
	#barba-wrapper {
		display: none !important;
	}

	.support {
		display: flex;
	}
}

/* Screen height is too thin to be usable */
@media (min-aspect-ratio: 3/1) {

	header,
	main,
	#barba-wrapper {
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: none !important;
	}

	body {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.support {
		display: flex;

		h2 {
			margin: 0 var(--padl) 0 0;
			@include mixins.typography(20vh, false, 20vh);
		}

		h3 {
			margin: 0 var(--padl) 0 0;
		}

		p,
		h4 {
			padding: 0;
		}

		h4 {
			margin: 0;
			font-size: 8vh;
		}

		p {
			margin: 0 0 0 var(--padl);
			font-size: 5vh;
		}
	}
}

@media (min-aspect-ratio: 5/1) {
	.support {
		h2 {
			@include mixins.typography(30vh, false, 30vh);
		}

		h4 {
			font-size: 12vh;
		}

		p {
			font-size: 10vh;
		}
	}
}


/* Global costum Style */


.middle {
	display: block;
	width: 100vw;
	height: 100vh;
	scroll-snap-align: center;

	&.snap-start {
		scroll-snap-align: start;
	}

	&.snap-end {
		scroll-snap-align: end;
	}

	&.snap-none {
		scroll-snap-align: none;
	}

	&.height-auto {
		height: auto;
	}

	&.auto {
		min-height: auto;
	}

	&.empty {
		display: none;
	}
}

.spring {
	@extend %inline-block;

	&:before {
		@include mixins.make-it-block();
		@include mixins.block-spread($zindex: -1, $opacity: 0, $backgroundcolor: var(--yellow), $borderradius: 8px);
		pointer-events: none;
		transform: scale(1.15);
		transition: opacity .2s ease, transform .3s cubic-bezier(.59, 1.83, .81, 1);
		will-change: opacity, transform;

		&.big {
			@include mixins.positions(-4px, -12px);
		}

		&.superbig {
			@include mixins.positions(-8px, -20px);
		}
	}

	&:hover {
		&:before {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.red {
	color: var(--red);
}

#corner,
#back {
	@include mixins.block-spread(none, fixed, 999999);
	pointer-events: none;
}

.rounded body {
	background-color: #000;

	#corner,
	#back {
		display: block;
	}

	#back {
		background-color: var(--white);
		z-index: 0;
	}

	#corner {
		div {
			@include mixins.block(fixed, 0, 0, var(--padm), var(--padm));
			background-color: #000;
			transform-origin: center;
			transform: translate3d(0, 0, 0);
			clip-path: polygon(100% 0, 75% 1%, 55% 4%, 33% 14%, 23% 23%, 14% 33%, 4% 55%, 1% 75%, 0 100%, 0 0);
		}

		.tr {
			left: initial;
			right: 0;
			transform: rotate(90deg);
		}

		.br {
			@include mixins.positions(initial, 0, 0, initial);
			transform: rotate(180deg);
		}

		.bl {
			top: initial;
			bottom: 0;
			transform: rotate(270deg);
		}
	}
}

/* Loading style */
#loader {
	@include mixins.block-spread(flex, fixed, 999999, transparent);
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: var(--black);

	p {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		position: fixed;
		@include mixins.positions(initial, var(--padx), var(--pady));
		@include mixins.typography(.7rem, 400, false, .05rem);
		text-transform: uppercase;
		color: inherit;
	}

	span {
		&:nth-child(2) {
			display: block;
			margin: 0 0 0 20px;
			padding: 1px;
			width: 200px;
			height: var(--pads);
			border: 1px solid var(--black);
			background-color: transparent;
			appearance: none;
			border-radius: calc(var(--pads) / 2);
		}

		i {
			display: block;
			height: 100%;
			background-color: var(--black);
			border-radius: calc((var(--pads) / 2) - 2px);
		}
	}

	.simple {
		@include mixins.block(fixed, initial, initial);
		bottom: var(--pady);

		span {
			left: initial;
			height: calc(var(--pads) - 4px);
			border-radius: calc((var(--pads) - 4px) / 2);
			width: 100px;
			background-color: var(--gray-light);
		}
	}
}


/* Hidden and Fixed */
.hidden {
	display: none;
}

.fixed {
	@include mixins.block-spread(block, fixed);
}


/* Arrow links */
.arrow-big,
.arrow {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: 0;
	color: var(--black);
	white-space: nowrap;
}

.arrow {
	&:after {
		@include mixins.make-it-block();
		transition: filter 1s ease;
		background: url(../img/arrow.svg) no-repeat 100% 50%;
	}

	span {
		@include mixins.typography(.9rem, inherit, 17px, .05rem);
		order: 0;
		white-space: nowrap;
		align-self: center;
		pointer-events: none;
	}
}

.arrow-big.center {
	right: 50%;
	transform: translate3d(-50%, 0, 0);

	.arrow:after {
		width: 50px;
	}
}

.arrow-small {

	.arrow {
		flex-flow: row nowrap;

		&:before,
		&:after {
			@include mixins.make-it-block();
			margin: 0;
			pointer-events: none;
		}

		&:after {
			transform: none;
		}
	}
}

/* Year information */
.year {
	position: fixed;
	display: flex;
	@include mixins.zero-box;
	align-items: flex-end;
	text-align: right;
	color: var(--black);
	pointer-events: none;
}


/* Header style */
header {
	opacity: 0;
	position: fixed;
	z-index: 3;
	height: 45px;

	.left,
	.right {
		mix-blend-mode: inherit;
	}

	.left {
		display: flex;
		flex-direction: row;
		position: absolute;
		left: 0px;
	}

	.right {
		display: flex;
		flex-direction: row;
		position: absolute;
		height: 44px;
		right: 0px;
	}
}

/* Logo item */
.logo {
	transition: filter 1s ease;

	svg {
		width: 25.6px;
		height: 40px;
		pointer-events: none;

		g {
			fill: var(--black);
			transition: fill 1s ease;
		}
	}
}

[hidden] {
	display: block;
}

.print {
	display: none;
}

/* Common styles between items */
.size,
.lamp,
.menu {
	flex: none;
	order: 0;
	align-self: center;

	svg {
		pointer-events: none;
	}
}

/* Text size item */
.size {
	margin-left: 0;
	color: var(--black);
}

/* Dark mode item */
.lamp {
	order: 1;

	svg {
		width: 44px;
		height: 44px;
		mix-blend-mode: normal;
	}
}

#sun,
#moon {
	display: block;
	opacity: 0;
	transition: opacity .5s ease;
}

#sun {
	stroke: var(--black);
	opacity: 1;

	circle {
		fill: var(--yellow);
	}
}

/* Menu item and switch */
.menu {
	order: 2;

	.switch {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: row;
	}
}

.switch,
.switch svg,
.items .close,
.switch span {
	display: block;
	height: 44px;
	@include mixins.typography(.9rem, inherit, 44px, .05rem, var(--black));
}

.switch {

	svg,
	span {
		pointer-events: none;
	}

	svg {
		stroke: var(--black);
		width: 32px;
		margin-right: var(--padm);
	}
}

/* Slide right menu items */
.menu {
	.overlay {
		@include mixins.block-spread(none, fixed, 1000, rgba(0, 0, 0, 0));
		align-items: flex-start;
		justify-content: flex-end;
	}

	.items {
		display: flex;
		height: 100%;
		width: calc(2 * var(--pic-w));
		max-width: 100%;
		padding: calc((2 * var(--pady)) + 44px) calc(2 * var(--padx)) calc(2 * var(--pady));
		background-color: var(--white);
		will-change: transform, opacity;
	}
}

.items {
	.close {
		@include mixins.block(absolute, var(--pady), initial, initial, 36px);
		right: var(--padx);
		padding: 0 12px 0 48px;
		margin: 4px -12px;
		line-height: 35px;
		border-radius: 8px;
		transition: all .15s ease;
		will-change: background-color;

		&:before {
			@include mixins.make-it-block();
		}

		span {
			display: inline-block;
			text-indent: -666rem;

			&:after,
			&:before {
				@include mixins.make-it-block();
				@include mixins.block(absolute, 50%, 24px, 20px, 2px);
				background-color: var(--black);
				border-radius: 2px;
				transform-origin: center;
				transform: translate3d(-50%, -50%, 0) rotate(45deg);
			}

			&:before {
				transform: translate3d(-50%, -50%, 0) rotate(-45deg);
			}
		}
	}

	ol {
		@include mixins.zero-box;
		display: flex;
		width: 100%;
		flex-direction: column;
	}

	li {
		position: relative;
		display: block;
		flex-direction: row nowrap;
		margin: 0 0 var(--padl);
		padding: 0;
		list-style: none;
		@include mixins.typography(1.6rem, $letterspacing: .025em);

		&.hr {
			display: block;
			width: 100%;
			height: 2px;
			background-color: var(--black-50);
			flex: none;
		}

		&:before,
		&:after {
			@include mixins.make-it-block();
			@include mixins.block(absolute, 50%, 0, $zindex: 2);
			pointer-events: none;
			transform: translate3d(0, -50%, 0);
		}

		&:before {
			&:nth-child(1) {
				content: "00."
			}

			&:nth-child(2) {
				content: "01."
			}

			&:nth-child(4) {
				content: "02."
			}
		}

		&:last-child {
			@include mixins.zero-box;
			height: auto;

			p {
				font-size: .9rem;
			}
		}

		&:first-child,
		&:last-child {
			margin-top: auto;
		}

		a {
			position: relative;
			z-index: 1;
			display: block;
			margin: calc(-1 * var(--pads)) calc(-2 * var(--pads));
			padding-left: calc(44px + (4 * var(--pads)));
			line-height: calc(var(--padl) + (2 * var(--pads)));
			height: calc(var(--padl) + (2 * var(--pads)));
			border-radius: 8px;
		}
	}
}



/* Common middle content */
.middle {
	position: relative;
	z-index: 2;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	&.clip {
		overflow: hidden;
	}

	.shade {
		position: absolute;
		background-color: var(--black);
		visibility: hidden;
		opacity: 0;
		@include mixins.positions;
	}
}

.pics {
	z-index: 2;
	pointer-events: none;
}


/* Split text style */
.splord,
.splext {
	@include mixins.zero-box;
	display: inline-block;
}


/* Main text in Homepage and Me */
.main-text {
	display: flex;
	flex-flow: column;

	h1 {
		@include mixins.typography(4.75rem, false, 85%, false, var(--black));
		padding: 0 !important;
		max-width: 720px;

		@media (min-width: mixins.$screen-wide) {
			@include mixins.typography(5.75rem, false, 80%, false, var(--black));
		}

		a {
			display: inline-block;
			background: inherit;
		}

		@media (min-width: 1900px) {
			& {
				max-width: 800px;
			}
		}

		@media (min-width: 1900px) {
			& {
				max-width: 800px;
			}
		}
	}
}

.hi .main-text h1 {
	max-width: initial;

	@media (min-width: 1900px) {
		& {
			max-width: initial;
		}
	}

	@media (min-width: 1900px) {
		& {
			max-width: initial;
		}
	}
}

.home2 {
	&-replurk {
		background-color: darken($color: white, $amount: 2);
	}

	&-suzuki {
		background-color: darken($color: white, $amount: 4);
	}

	&-tas {
		background-color: darken($color: white, $amount: 6);
	}

	&-old {
		background-color: darken($color: white, $amount: 8);
	}
}


/* Homepage footer */
.footer {
	@include mixins.block(fixed, initial, 0, 100%, $zindex: 2);
	bottom: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	justify-content: space-between;
	pointer-events: none;
	color: var(--black);

	>* {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 16px;
	}

	.email {
		font-weight: 600;
		pointer-events: auto;
	}
}


.reading {
	@include mixins.typography(.6rem, 600, 12px, .14em);
	display: flex;
	align-items: flex-end;
	text-transform: uppercase;
	pointer-events: none;
	margin: 0 !important;
	padding: 0 !important;
	line-height: 100%;
}

.location {
	position: absolute;
	left: 50%;
	padding: 0px;
	pointer-events: auto;
	transform: translate3d(-50%, 0, 0);

	span,
	img {
		display: flex;
		align-items: center;
		align-self: center;
		font-size: .9rem;
		white-space: nowrap;
	}

}

#airplane {
	fill: var(--black);
	margin: 0 var(--padm);
}


/* Homepage listing item */
.padding {

	a,
	span {
		display: flex;
		justify-content: center;
	}

	.plurktitle {
		height: auto !important;
		line-height: 90%;
		letter-spacing: -.24rem;
		text-align: center;
		font-weight: 700;
		margin-bottom: var(--pads);
	}

	.plurksubtitle {
		height: auto !important;
		@include mixins.typography(1.6rem, 300);
		text-align: center;

		a {
			display: inline-block;
			font-weight: 600;
			text-decoration: none;
		}
	}

	&,
	sub,
	sup {
		@include mixins.typography(5rem, 600);
		@include mixins.zero-box;
	}

	sub,
	sup {
		font-size: 75%;
		top: initial;
		bottom: initial;
	}

	sub {
		top: .2em;
	}

	sup {
		top: -.2em;
	}
}

.dwantitle {
	position: relative;
	display: flex;

	svg {
		height: 100%;
		max-width: 100%;
		height: 80px;
	}

	svg g {
		fill: var(--black);
	}

	small {
		@include mixins.block(absolute, 0, initial);
		right: 0;
		@include mixins.typography(.6rem, $color: var(--black));
		background-color: var(--yellow);
		padding: calc(var(--pads) / 2) var(--pads);
		border-radius: 8px;
		transform: translate(50%, -50%);
	}

	@media (min-width: 760px) {
		small {
			font-size: .8rem;
		}

		svg {
			height: 140px;
		}
	}
}


/* Background flare */
.flares {
	position: fixed;
	z-index: 1;
	overflow: hidden;
	pointer-events: none;

	img {
		opacity: 0;
		position: absolute;
		transform: scale3d(1.25, 1.25, 1);
		pointer-events: none;
	}

	/* Purple */
	.flare1 {
		@include mixins.position(17.5%, -70%);
	}

	/* Red */
	.flare2 {
		@include mixins.position(30%, -25%);
	}

	/* Blue */
	.flare3 {
		@include mixins.position(17.5%, -10%);
	}

	/* Green */
	.flare4 {
		@include mixins.position(20%, 25%);
	}

	/* Yellow */
	.flare5 {
		@include mixins.position(10%, 40%);
	}

	/* Blue */
	.flare6 {
		@include mixins.position(15%, -80%);
	}

	/* Red */
	.flare7 {
		@include mixins.position(35%, -110%);
	}
}


/* Detail page common style */
.detail {
	picture {
		position: relative;
		display: block;

		&.plain {
			box-shadow: none;
		}
	}

	.meta picture {
		box-shadow: none;
	}

	.color li {
		border: 1px solid var(--black-25);

		&:last-child {
			border: none;
		}
	}

	&.aai .color li {
		border-radius: 100%;
	}

	.cta {
		background-color: var(--black);
		color: var(--white);
		padding: var(--pads) var(--padl);
		border-radius: calc(var(--pads) / 2);
		margin-top: var(--padm);
		text-decoration: none;
		transition: background-color .125s ease-in;

		&:hover {
			background-color: var(--red);
		}
	}
}


/* Style text on the left and image spread like fan */

%style-spread {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.style-spread {
	@extend %style-spread;

	&:after {
		@include mixins.make-it-block();
		@include mixins.positions(90%, 0, -1%);
		z-index: 3;
		position: absolute;
		background: transparent;
		background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, .75) 30%, rgba(255, 255, 255, 0) 80%);
		background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, .75) 30%, rgba(255, 255, 255, 0) 80%);
		background: linear-gradient(0deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, .75) 30%, rgba(255, 255, 255, 0) 80%);
	}

	.text {
		min-height: 50px;
	}

	.thumbs {
		position: relative;
		flex: 1;
	}

	picture {
		position: absolute;
		display: none;

		&.pic-4 {
			z-index: 2;
			display: block;
		}

		&.pic-5 {
			z-index: 1;
			display: block;
		}
	}

	&.style-spread-big {
		picture {
			display: block;

			&.pic-1 {
				z-index: 3;
			}

			&.pic-2 {
				z-index: 2;
			}

			&.pic-3 {
				z-index: 1;
			}
		}
	}
}

.style-spread-left {
	@extend %style-spread;

	.text {
		order: 2;
	}

	.thumb {
		order: 1;
	}
}

.style-plain {
	@extend %style-spread;

	&.style-plain-sticky {
		picture {
			transform-origin: center;
		}
	}

	&.style-plain-scroll {
		background-color: var(--dark-white);

		.text {
			z-index: 2;
		}

		.scroll {
			z-index: 1;
			flex: 1;
		}

		.thumbs {
			display: inline-flex;
			flex-direction: row;
		}

		picture {
			width: var(--pic-w);
			height: auto;
			flex: none;
			flex-grow: 0;
			transform: rotate(2.5deg);
		}
	}

	&.style-plain-single {
		gap: var(--padx);

		@media screen and (min-width: mixins.$screen-medium) {
			gap: var(--padxl)
		}
	}
}


/* Style text on top and Images in the bottom */
%style-top {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;

	.text {
		display: flex;
		flex-flow: column nowrap;
		align-self: center;
	}
}

.style-top {
	@extend %style-top;
	height: auto;

	.thumbs {
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		margin: 0 -30px;
		flex: none;
	}

	picture {
		position: relative;
		align-self: flex-start;
	}
}

.style-top-text {
	@extend %style-top;
	justify-content: center;
}


/* Style with mansonry like layout with text on the right */
.style-masonry {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	.thumbs {
		display: flex;
		flex: none;
	}

	picture {
		overflow: hidden;
	}

	.text {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
	}
}

.aai .style-masonry,
.suzuki .style-masonry {
	height: auto;
}

/* Style with background image */
.style-background {
	background-color: var(--gray-light);

	.text {
		position: relative;
		width: var(--pic-w);
		z-index: 2;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
		background-color: var(--white);
		padding: calc(1.5 * var(--pady)) var(--padx) var(--pady);
		border-radius: var(--pads);
		box-shadow: -10px 30px 60px rgba(0, 0, 0, 0.25);

		@media (min-width: mixins.$screen-medium) {
			padding: var(--padxl) var(--padl) var(--padl);
		}
	}

	.thumbs {
		z-index: 1;
		position: absolute;
		width: 100vw;
		height: 100vh;
		display: block;
		justify-content: center;
		align-items: center;
		pointer-events: none;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: .35;
			transform: translate(-50%, -50%) rotate(-5deg);
		}
	}

	&.style-background-cover {
		.text {
			width: calc(var(--pic-w) * 4/3);
		}

		.thumbs img {
			opacity: .75;
		}
	}

	&.style-background-basic {
		background-color: transparent;

		.text {
			display: flex;
			width: initial;
		}

		.thumbs img {
			opacity: 1;
			transform: translate(-50%, -50%) rotate(0deg);
		}
	}
}

/* Style that look like table */
.style-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.style-row {
	display: flex;
	flex-direction: column;
	align-content: stretch;
}

.style-column {
	display: flex;
	flex-direction: row;
	align-items: flex-end;

	.meta {
		display: flex;
		flex-direction: column;
	}

	.text small {
		line-height: 150%;
		letter-spacing: 0.05em;
	}
}

/* Style with angled photo on the bottom */
.style-angled {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
	background-color: var(--dark-white);
	transition: background-color .5s ease;

	.thumbs {
		display: flex;
		flex-flow: row nowrap;
	}

	picture {
		flex: none;
	}

	.pic-1,
	.pic-2,
	.pic-4 {
		order: 1
	}

	.pic-3,
	.pic-8,
	.pic-9,
	.pic-10 {
		order: 2
	}

	.pic-5,
	.pic-6,
	.pic-7 {
		order: 3
	}

	&.style-angled-individual {
		height: auto;
		background-color: transparent;
		gap: calc(3 * var(--pady));

		@media (min-width: mixins.$screen-wide) {
			gap: var(--padxxl);
		}

		.meta {
			margin-bottom: var(--padl);

			ul {
				gap: var(--padm);
			}
		}

		.thumbs {
			transform: none;
			width: 100%;

			picture {
				height: auto;
				transform: rotate(-5deg);
			}
		}

		.color li {
			border-radius: 100px;
		}
	}

	&.style-angled-straight {
		.thumbs picture {
			border-radius: var(--padl);
		}
	}
}

/* Style with logo on the bottom */
.style-bottom-logo {

	.text,
	.thumbs {
		max-width: 964px;
	}

	.text {
		margin-top: 110px;
		padding-right: 495px;
	}

	.thumbs ul {
		pointer-events: none;
		margin: -300px 0 -85px;
		display: flex;
		align-items: flex-end;

		li {
			flex: 1;
			padding-bottom: 160px;

			picture {
				box-shadow: none;
				padding-right: var(--padl);
			}

			&:last-child {
				padding-bottom: 0;
				margin-right: -40px;

				picture {
					width: 495px;
					margin: 0;
					padding-right: 0;
				}
			}
		}
	}
}


/* Style slideshow */
.style-slideshow {
	display: block;
	height: 100vh;
	padding: 0 !important;
	justify-content: flex-start;
	overflow: hidden;

	.before,
	.after {
		@include mixins.make-it-block();
		@include mixins.block(absolute, 50vh, 50vw, 100px, 30px, 2);
		margin-top: -15px;
		background: url(../img/arrow.svg) right center no-repeat;
		background-size: contain;
		cursor: pointer;
	}

	.before {
		left: calc(50vw - 32.5vw - 100px);
		right: initial;
		transform: rotate(180deg);
	}

	.after {
		left: initial;
		right: calc(50vw - 32.5vw - 100px);
	}

	picture {
		width: 65vw;
	}

	%hundred-percent {
		width: 100%;
		height: 100%;
	}

	ul,
	ol {
		white-space: nowrap;
		height: 100%;

		li {
			@extend %hundred-percent;
			display: flex;
			flex: none;
			float: left;
			align-items: center;
			justify-content: center;
			scroll-snap-align: start;
		}
	}

	.thumbs {
		@extend %hundred-percent;
		position: relative;
		z-index: 1;
		overflow-y: hidden;
		overflow-x: auto;
		margin-bottom: -50px;
		scroll-snap-type: x mandatory;
	}
}

.style-slideshow-small {
	.before {
		left: var(--padx);
		right: initial;
		transform: rotate(180deg);
	}

	.after {
		left: initial;
		right: var(--padx);
		transform: none;
	}

	picture {
		width: 60vw;
		transform: rotate(-3deg);
	}

	ul,
	ol {
		li {
			width: auto;
			padding: 0 0 0 20vw;

			&:last-child {
				padding-right: 20vw;
			}
		}
	}

	@media screen and (min-width: 600px) {
		picture {
			width: 27.5vw;
		}

		ul,
		ol {
			li {
				padding-left: 15vw;

				&:last-child {
					padding-right: 15vw;
				}
			}
		}
	}

	@media screen and (min-width: 1000px) {
		picture {
			width: 20vw;
		}

		ul,
		ol {
			li {
				padding-left: 10vw;

				&:last-child {
					padding-right: 10vw;
				}
			}
		}
	}

}

/* Style truncate */
.style-trunc {
	min-height: initial;
	height: auto;
	flex-direction: row;
	align-items: flex-end;

	.wrap {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.text {
		max-width: 377px;
		margin-right: var(--padxl);
	}
}

/* Footer links in every detail page */
.links {
	position: relative;
	z-index: 1;
	display: flex;
	scroll-snap-align: end;

	nav {
		display: flex;
		flex-flow: column wrap;
		gap: var(--pady);
	}

	div {
		display: flex;
		position: relative;
		padding-left: calc(2 * var(--padx));
		min-height: var(--padx);

		&:before {
			@include mixins.make-it-block(inline-block);
			position: absolute;
			top: 50%;
			left: 0;
			box-sizing: border-box;
			transform: translate(0, -50%);
			border: 2px solid var(--black);
			border-radius: 100%;
			background-color: var(--black);
			width: var(--padx);
			height: var(--padx);
			margin-right: var(--padxl);
		}

		&:first-child:before {
			background-color: var(--white);
		}
	}

	a {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		&:hover {
			color: var(--red);
		}

		&:after {
			@include mixins.make-it-block(inline-block);
			width: var(--padx);
		}

		&:last-child:after {
			background: url(../img/arrow.svg) no-repeat right 50%;
			height: 100%;
			width: calc(2 * var(--padx));
			margin-left: var(--padx);
		}

		&:last-child:after {
			flex: none;
		}

		span {
			color: inherit;
		}
	}

	.prototype {
		flex-flow: row wrap;
	}

	.title {
		pointer-events: none;
		font-weight: 700;
	}
}


.continue {
	a:before {
		background-color: var(--black);
	}

	i {
		font-style: normal;
	}
}

/* Common ol/ul style */
ul,
ol {

	/* Common ol/ul style with leading zero style */
	&.zero {
		display: flex;
		width: 100%;
		@include mixins.zero-box;

		li {
			position: relative;
			display: flex;
			align-items: flex-start;
			flex: 1;
			padding: 0;
			line-height: 150%;
			letter-spacing: 0.02em;
			font-feature-settings: 'liga';
			color: var(--black-gray-light);

			&:before {
				display: flex;
				flex: 0;
			}

			@for $i from 1 through 10 {
				&:nth-child(#{$i}):before {
					content: "0" + ($i - 1);
				}
			}
		}
	}

	/* ol/ul with flat style */
	&.flat {
		display: flex;
		list-style: none;
		@include mixins.zero-box;
		flex-flow: row nowrap;
	}

	/* ol/ul with without style */
	&.bland {
		display: flex;
		list-style: none;
		@include mixins.zero-box;
		flex-flow: column nowrap;
	}

	/* ol/ul for branding color for Suzuki */
	&.color {
		display: flex;
		flex-flow: column nowrap;

		li {
			display: flex;
			align-items: center;
			border: 1px solid var(--black-50);
			@include mixins.typography(1rem, false, 15p, .05em);
			border-radius: 4px;

			&:last-child {
				border: none;
				width: auto;
				height: auto;
			}

		}
	}
}

/* Menu page */

.menu-page {
	.menu {
		@include mixins.zero-box;
		height: 100vh;
		border-bottom: none !important;
	}

	nav {
		margin: 0;
	}
}


/* Me page */

.me {
	.middle {
		position: relative;
		z-index: 2;
	}

	h1 strong {
		position: relative;
		display: inline-block;
		font-weight: inherit;
		transition: color .5s ease;

		&:after {
			@include mixins.make-it-block();
			@include mixins.block(absolute, initial, initial, 0, 4px);
			bottom: -8px;
			border-radius: 2px;
			background-color: var(--black);
			transition: width .25s ease-in-out;
		}

		&.emphasis {
			color: var(--red);
			position: relative;

			&:after {
				width: 100%;
				background-color: var(--red);
			}
		}
	}

	.text {
		position: relative;
		width: 100%;
		max-width: 700px;
		text-align: center;
		will-change: transform, background;
	}

	h2,
	h3 {
		line-height: 90%;
		margin: 0;
	}

	h3 strong {
		@include mixins.typography($fontweight: inherit, $color: var(--red));
	}

	p {
		margin-bottom: var(--padm);
	}

	.arrow-big a {
		color: var(--black);
	}
}

.intro .text {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	@include mixins.typography(.8rem, $color: var(--gray-light));

	& hr {
		display: inline-block;
		width: 50px;
		margin: auto var(--pads);
	}
}

#about {
	z-index: 1;
	overflow: hidden;
}

#usedto {
	z-index: 2;
	padding: 0 !important;

	.anim {
		min-width: initial;
		min-height: initial;
		width: 70vh;
		height: 70vh;
		border-radius: 70vh;
		background-color: var(--red);
		overflow: hidden;
	}

	.text {
		padding: 0;
	}

	h2,
	p {
		@include mixins.typography(4.5rem, $color: var(--white));
	}

	p {
		margin-bottom: 0;
	}
}

#now,
#webdesigner,
#sayhi,
#webdesigner .thumbs {
	pointer-events: none;
}

#now,
#webdesigner,
#sayhi {
	position: relative;

	.arrow,
	.text {
		pointer-events: auto;
	}
}

#now,
#webdesigner {
	z-index: 1;
	align-items: flex-start;

	.text {
		text-align: left;
		z-index: 2;
	}

	.thumbs {
		position: absolute;
		@include mixins.positions(var(--pady), var(--padx), var(--pady), 50vw);
		z-index: 1;
	}

	img {
		@include mixins.block(absolute, 50%, 50%, auto !important, 100% !important);
		transform: translate(-50%, -50%);
	}
}


#sayhi {
	z-index: 1;

	p {
		margin-bottom: 0;
	}
}


/* Mr Goat */


#mrgoat {
	transform: translate(0, 100%);
	pointer-events: none;
}

.mrgoat {

	&,
	&.hidden {
		display: block;
		overflow: hidden;
		height: 100vh;
	}

	&.hidden {
		z-index: 0;
	}

	h2,
	img {
		@include mixins.zero-box;
		position: relative;
		z-index: 1;
	}

	img {
		position: absolute;
		opacity: 0;

		&:nth-child(4) {
			opacity: 1;
		}
	}

	.text,
	.thumbs {
		@include mixins.block(absolute, 0, 0, 100vw, 100%);
		max-width: initial;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	.textoverlay {
		z-index: 3;
	}

	.thumbs {
		transform: initial;
		pointer-events: none;
	}

	.h2 {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 1000px;
		text-align: center;

		b {
			@include mixins.typography($fontweight: inherit, $color: var(--red));
			white-space: nowrap;
		}
	}

	.float {

		&,
		.dot {
			display: flex;
			flex: column nowrap;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: initial;
			line-height: 100%;
		}

		.dot {
			flex: 1;
			order: 3;
			width: 50px;
			position: relative;
		}

		.line {
			flex: 1;
			order: 2;
			position: relative;

			@media (min-width: 1200px) {
				& {
					flex: 2;
				}
			}
		}

		.line hr,
		.dot i,
		.dot hr {
			@include mixins.block(absolute, 50%, initial, 100%);
			@include mixins.zero-box;
			display: block;
			border: none;
			background-color: var(--black);
			border-radius: var(--pads);
			transform: translate(0, -50%);
		}

		.dot,
		.dot i,
		.line {
			height: var(--pads);
		}

		.dot i {
			left: initial;
			right: 0;
			width: var(--pads);
		}

		.line,
		.dot {
			hr {
				left: initial;
				right: 0;
				flex: 1;
				height: 1px;
			}
		}

		p {
			order: 1;
			padding: 0;
			margin: 0 var(--pads) 0 0;
			text-align: right;
			order: 1;
			font-size: 1rem;
			width: 100px;

			@media (min-width: 640px) {
				& {
					width: 100px;
				}
			}

			@media (min-width: 1200px) {
				& {
					width: auto;
				}
			}
		}
	}
}

#viet,
#nyc {
	left: var(--padx);
	right: 50vw;

	.dot {
		transform-origin: 0 center;
	}

	@media (min-width: 640px) {
		& {
			left: calc(2 * var(--padx));
		}
	}
}

#viet {
	top: 30vh;

	.dot {
		transform: rotate(45deg);
	}
}

#nyc {
	bottom: 30vh;

	.dot {
		transform: rotate(-45deg);
	}
}

#food,
#travel {
	justify-content: flex-end;
	left: 50vw;
	right: var(--padx);

	p {
		text-align: left;
		order: 3;
		margin: 0 0 0 var(--pads);
	}

	.dot,
	.dot {
		order: 1;
		transform-origin: 100% center;
	}

	@media (min-width: 640px) {
		& {
			right: calc(2 * var(--padx))
		}
	}
}

#food {
	top: 35vh;

	.dot {
		transform: rotate(-45deg);
	}
}

#travel {
	bottom: 35vh;

	.dot {
		transform: rotate(45deg);
	}
}

#food .dot hr,
#travel .dot hr,
#food .dot i,
#travel .dot i,
#food .line hr,
#travel .line hr {
	left: 0;
}

#post {
	left: 50%;
	text-align: center;
	flex-flow: column;
	bottom: var(--pady);
	transform: translate(-50%, 0);

	&:hover a,
	&:hover svg {
		color: var(--red);
		fill: var(--red);
		transition: color 0.16s ease-out, fill 0.16s ease-out;
	}

	a {
		pointer-events: all;
	}

	svg {
		width: auto;
		height: 48px;
		fill: var(--black);
		margin-bottom: var(--pads);
		transition: .5 fill ease;
	}

	p {
		width: auto;
		text-align: center;
	}

	a,
	svg {
		transition: color 1.28s ease-in, fill 1.28s ease-in;
	}

}

.me .igstage {
	z-index: 3;
	will-change: transform;
	pointer-events: none;
}

.igstage {
	display: flex;
	align-items: center;
	justify-content: center;

	.thumbs {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 0;
		will-change: opacity, transform;

		a {
			position: relative;
			display: flex;
			padding: var(--padm);
			align-items: center;
			justify-content: center;
			z-index: 1;
			pointer-events: auto;
			will-change: opacity, transform;

			&:after {
				@include mixins.make-it-block();
				@include mixins.block-spread(none, absolute, 0);
				background: url(../img/drop-shadow.webp) 0 0 no-repeat;
				background-size: 100% 100%;
				transform: scale3d(1.5, 1.5, 1);
				pointer-events: none;
			}

			img {
				pointer-events: none;
				transition: box-shadow .5 ease;
			}
		}

		img {
			position: relative;
			z-index: 1;
			display: block;
			max-width: 100%;
			max-height: 100%;
			border-radius: var(--pads);
		}
	}

	&.scroll {
		min-height: auto;
		height: auto;

		.thumbs {
			display: flex;
			flex-flow: row;
			flex-wrap: nowrap;
		}

		.thumbs a {
			width: 40vw;
			height: 40vw;
			margin: 0 var(--padm);
		}
	}

	@media (min-width: 1200px) {
		&.scroll .thumbs a {
			width: 30vw;
			height: 30vw;
		}
	}
}

.cofound {
	z-index: 4;

	.text {
		z-index: 2;
	}

	.thumbs {
		@include mixins.block(absolute, 0, 0, 100%, 100%, 1, hidden);
	}

	picture {
		@include mixins.block(absolute, 0, 50%);
		display: block;
		opacity: .2;
		transform: translate3d(-50%, 0, 0);
		will-change: transform;

		&,
		img {
			width: auto !important;
			height: auto !important;
			min-width: 100% !important;
			min-height: 100% !important;
		}
	}

	a {
		background-color: var(--yellow);
		margin: var(--padm) 0 0 0;
		padding: var(--pads) var(--padm);
		border-radius: 8px;
		will-change: background-color;

		&:hover {
			background-color: transparent;
		}

		&:before,
		&:hover:before {
			background-color: var(--white);
		}
	}
}


/* Say Hi page */
.hi {
	h1 {

		&,
		a,
		span,
		small {
			display: flex;
			flex-direction: row nowrap;
		}

		a {
			cursor: pointer;
		}

		span,
		small {
			position: relative;
			pointer-events: none;
			will-change: opacity, color, transform;
		}

		small {
			@include mixins.block(absolute, 100%, 0);
			@include mixins.typography(.8rem, 400, var(--padl));
			padding-left: calc((2 * var(--padm)) + var(--pads));
			height: var(--padxxl);
			opacity: 0;
			white-space: nowrap;
			align-items: flex-end;

			&:before,
			&:after {
				@include mixins.make-it-block();
				@include mixins.block(absolute, 0, var(--pads));
				bottom: calc(var(--padl) / 2);
				border-left: 1px solid var(--black);
			}

			&:after {
				top: initial;
				padding-left: var(--padm);
				border-left: 0;
				border-top: 1px solid var(--black);
			}
		}
	}

	.main-text h1 {
		margin: 0;
		letter-spacing: -0.06em;
	}

	.flares {
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			@include mixins.block(absolute, initial, initial, auto, 75vh);
			opacity: 0;
			transform: initial;
			will-change: transform, opacity;
		}
	}

	a em {
		font-style: normal;
	}
}


/* Konami code */
#konamicode {
	@include mixins.block-spread(flex, fixed, 99999999, rgba(0, 0, 0, .85));
	justify-content: center;
	align-items: center;
}


@import 'dark';
@import 'plurk';
@import '404';
@import 'nojs';