@charset "UTF-8";


$screen-ultrawide: 1900px;
$screen-verywide: 1600px;
$screen-wide: 1194px;
$screen-abitwide: 1024px;
$screen-medium: 900px;
$screen-small: 760px;


@mixin make-it-block($display: block) {
	content: "";
	display: $display;
}

@mixin zero-box() {
	margin: 0;
	padding: 0;
}

@mixin position($top: 0, $left: 0) {
	top: $top;
	left: $left;
}

@mixin positions($top: 0, $right: false, $bottom: false, $left: false) {
	top: $top;

	@if $right  !=false {
		right: $right;
	}

	@else {
		right: $top;
	}

	@if $bottom  !=false {
		bottom: $bottom;
	}

	@else {
		bottom: $top;
	}

	@if $left  !=false {
		left: $left;
	}

	@else if $right  !=false {
		left: $right;
	}

	@else {
		left: $top;
	}
}

@mixin block-spread($display: block, $position: absolute, $zindex: 1, $backgroundcolor: false, $opacity: false, $borderradius: false) {
	display: $display;
	position: $position;
	z-index: $zindex;
	@include positions();

	@if $backgroundcolor  !=false {
		background-color: $backgroundcolor;
	}

	@if $opacity  !=false {
		opacity: $opacity;
	}

	@if $borderradius  !=false {
		border-radius: $borderradius;
	}
}

@mixin block($position: absolute, $top: 0, $left: 0, $width: false, $height: false, $zindex: false, $overflow: false) {
	@if $zindex  !=false {
		z-index: $zindex;
	}

	position: $position;
	top: $top;
	left: $left;

	@if $width  !=false {
		width: $width;
	}

	@if $height  !=false {
		height: $height;
	}

	@if $overflow  !=false {
		overflow: $overflow;
	}
}

@mixin typography($fontsize: false, $fontweight: false, $lineheight: false, $letterspacing: false, $color: false) {
	@if $fontsize  !=false {
		font-size: $fontsize;
	}

	@if $fontweight  !=false {
		font-weight: $fontweight;
	}

	@if $lineheight  !=false {
		line-height: $lineheight;
	}

	@if $letterspacing  !=false {
		letter-spacing: $letterspacing;
	}

	@if $color  !=false {
		color: $color;
	}
}